<table class="grid">

<tr><td><b>Version Number</b></td><td><b>Current Version vs. Outdated Version</b></td></tr>

<tr><td><a href="20221115-122323-CodeSystem-hl7-observation-interpretation.html">HL7 ObservationInterpretation</a></td><td><a onclick="createDiff('CodeSystem-hl7-observation-interpretation.html', '20221115-122323-CodeSystem-hl7-observation-interpretation.html')" href="javascript:void(0);">Diff</a></td></tr>

<tr><td><a href="20230201-140131-CodeSystem-hl7-observation-interpretation.html">1.0.0+20221114</a></td><td><a onclick="createDiff('CodeSystem-hl7-observation-interpretation.html', '20230201-140131-CodeSystem-hl7-observation-interpretation.html')" href="javascript:void(0);">Diff</a></td></tr>
</table>