<table class="grid">

<tr><td><b>Version Number</b></td><td><b>Current Version vs. Outdated Version</b></td></tr>

<tr><td><a href="20220211-073707-CodeSystem-elga-auditeventtype.html">202005</a></td><td><a onclick="createDiff('CodeSystem-elga-auditeventtype.html', '20220211-073707-CodeSystem-elga-auditeventtype.html')" href="javascript:void(0);">Diff</a></td></tr>

<tr><td><a href="20230201-140131-CodeSystem-elga-auditeventtype.html">202202</a></td><td><a onclick="createDiff('CodeSystem-elga-auditeventtype.html', '20230201-140131-CodeSystem-elga-auditeventtype.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20230607-134908-CodeSystem-elga-auditeventtype.html">1.0.0+20230131</a></td><td><a onclick="createDiff('CodeSystem-elga-auditeventtype.html', '20230607-134908-CodeSystem-elga-auditeventtype.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20240130-160446-CodeSystem-elga-auditeventtype.html">1.1.0+20230522</a></td><td><a onclick="createDiff('CodeSystem-elga-auditeventtype.html', '20240130-160446-CodeSystem-elga-auditeventtype.html')" href="javascript:void(0);">Diff</a></td></tr>
</table>