<table class="grid">

<tr><td><b>Version Number</b></td><td><b>Current Version vs. Outdated Version</b></td></tr>

<tr><td><a href="20230201-140131-CodeSystem-ihe-pharmaceutical-advice-status-list.html">3.0</a></td><td><a onclick="createDiff('CodeSystem-ihe-pharmaceutical-advice-status-list.html', '20230201-140131-CodeSystem-ihe-pharmaceutical-advice-status-list.html')" href="javascript:void(0);">Diff</a></td></tr>
</table>