<table class="grid">

<tr><td><b>Version Number</b></td><td><b>Current Version vs. Outdated Version</b></td></tr>

<tr><td><a href="20230201-140131-CodeSystem-geschlechtercodes-iso-iec-5218.html">Corrected Version 2004</a></td><td><a onclick="createDiff('CodeSystem-geschlechtercodes-iso-iec-5218.html', '20230201-140131-CodeSystem-geschlechtercodes-iso-iec-5218.html')" href="javascript:void(0);">Diff</a></td></tr>
</table>