<table class="grid">
<tr><td><b>Version Number</b></td><td><b>Current Version vs. Outdated Version</b></td></tr>
<tr><td><a href="20230201-140131-CodeSystem-austrian-designation-use.html">1.0.0+20221017</a></td><td><a onclick="createDiff('CodeSystem-austrian-designation-use.html', '20230201-140131-CodeSystem-austrian-designation-use.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20240411-180341-CodeSystem-austrian-designation-use.html">2.0.0+20230131</a></td><td><a onclick="createDiff('CodeSystem-austrian-designation-use.html', '20240411-180341-CodeSystem-austrian-designation-use.html')" href="javascript:void(0);">Diff</a></td></tr>
</table>