<table class="grid">

<tr><td><b>Version Number</b></td><td><b>Current Version vs. Outdated Version</b></td></tr>

<tr><td><a href="20220202-122156-CodeSystem-eimpf-ergaenzung.html">202111</a></td><td><a onclick="createDiff('CodeSystem-eimpf-ergaenzung.html', '20220202-122156-CodeSystem-eimpf-ergaenzung.html')" href="javascript:void(0);">Diff</a></td></tr>

<tr><td><a href="20220202-142407-CodeSystem-eimpf-ergaenzung.html">202201</a></td><td><a onclick="createDiff('CodeSystem-eimpf-ergaenzung.html', '20220202-142407-CodeSystem-eimpf-ergaenzung.html')" href="javascript:void(0);">Diff</a></td></tr>

<tr><td><a href="20220203-120822-CodeSystem-eimpf-ergaenzung.html">202201.1</a></td><td><a onclick="createDiff('CodeSystem-eimpf-ergaenzung.html', '20220203-120822-CodeSystem-eimpf-ergaenzung.html')" href="javascript:void(0);">Diff</a></td></tr>

<tr><td><a href="20220203-170002-CodeSystem-eimpf-ergaenzung.html">202202</a></td><td><a onclick="createDiff('CodeSystem-eimpf-ergaenzung.html', '20220203-170002-CodeSystem-eimpf-ergaenzung.html')" href="javascript:void(0);">Diff</a></td></tr>

<tr><td><a href="20220216-150122-CodeSystem-eimpf-ergaenzung.html">202202.1</a></td><td><a onclick="createDiff('CodeSystem-eimpf-ergaenzung.html', '20220216-150122-CodeSystem-eimpf-ergaenzung.html')" href="javascript:void(0);">Diff</a></td></tr>

<tr><td><a href="20220221-132304-CodeSystem-eimpf-ergaenzung.html">202202.2</a></td><td><a onclick="createDiff('CodeSystem-eimpf-ergaenzung.html', '20220221-132304-CodeSystem-eimpf-ergaenzung.html')" href="javascript:void(0);">Diff</a></td></tr>

<tr><td><a href="20220301-165055-CodeSystem-eimpf-ergaenzung.html">202202.3</a></td><td><a onclick="createDiff('CodeSystem-eimpf-ergaenzung.html', '20220301-165055-CodeSystem-eimpf-ergaenzung.html')" href="javascript:void(0);">Diff</a></td></tr>

<tr><td><a href="20220307-144421-CodeSystem-eimpf-ergaenzung.html">202203</a></td><td><a onclick="createDiff('CodeSystem-eimpf-ergaenzung.html', '20220307-144421-CodeSystem-eimpf-ergaenzung.html')" href="javascript:void(0);">Diff</a></td></tr>

<tr><td><a href="20220315-163833-CodeSystem-eimpf-ergaenzung.html">202203.1</a></td><td><a onclick="createDiff('CodeSystem-eimpf-ergaenzung.html', '20220315-163833-CodeSystem-eimpf-ergaenzung.html')" href="javascript:void(0);">Diff</a></td></tr>

<tr><td><a href="20220318-140037-CodeSystem-eimpf-ergaenzung.html">202203.2</a></td><td><a onclick="createDiff('CodeSystem-eimpf-ergaenzung.html', '20220318-140037-CodeSystem-eimpf-ergaenzung.html')" href="javascript:void(0);">Diff</a></td></tr>

<tr><td><a href="20220318-152035-CodeSystem-eimpf-ergaenzung.html">202203.3</a></td><td><a onclick="createDiff('CodeSystem-eimpf-ergaenzung.html', '20220318-152035-CodeSystem-eimpf-ergaenzung.html')" href="javascript:void(0);">Diff</a></td></tr>

<tr><td><a href="20220331-103221-CodeSystem-eimpf-ergaenzung.html">202203.4</a></td><td><a onclick="createDiff('CodeSystem-eimpf-ergaenzung.html', '20220331-103221-CodeSystem-eimpf-ergaenzung.html')" href="javascript:void(0);">Diff</a></td></tr>

<tr><td><a href="20220421-164248-CodeSystem-eimpf-ergaenzung.html">202203.5</a></td><td><a onclick="createDiff('CodeSystem-eimpf-ergaenzung.html', '20220421-164248-CodeSystem-eimpf-ergaenzung.html')" href="javascript:void(0);">Diff</a></td></tr>

<tr><td><a href="20220428-131525-CodeSystem-eimpf-ergaenzung.html">202204</a></td><td><a onclick="createDiff('CodeSystem-eimpf-ergaenzung.html', '20220428-131525-CodeSystem-eimpf-ergaenzung.html')" href="javascript:void(0);">Diff</a></td></tr>

<tr><td><a href="20220516-123916-CodeSystem-eimpf-ergaenzung.html">202204.1</a></td><td><a onclick="createDiff('CodeSystem-eimpf-ergaenzung.html', '20220516-123916-CodeSystem-eimpf-ergaenzung.html')" href="javascript:void(0);">Diff</a></td></tr>

<tr><td><a href="20220608-063622-CodeSystem-eimpf-ergaenzung.html">202205</a></td><td><a onclick="createDiff('CodeSystem-eimpf-ergaenzung.html', '20220608-063622-CodeSystem-eimpf-ergaenzung.html')" href="javascript:void(0);">Diff</a></td></tr>

<tr><td><a href="20220614-103125-CodeSystem-eimpf-ergaenzung.html">202206</a></td><td><a onclick="createDiff('CodeSystem-eimpf-ergaenzung.html', '20220614-103125-CodeSystem-eimpf-ergaenzung.html')" href="javascript:void(0);">Diff</a></td></tr>

<tr><td><a href="20220726-072141-CodeSystem-eimpf-ergaenzung.html">202206.1</a></td><td><a onclick="createDiff('CodeSystem-eimpf-ergaenzung.html', '20220726-072141-CodeSystem-eimpf-ergaenzung.html')" href="javascript:void(0);">Diff</a></td></tr>

<tr><td><a href="20220729-123914-CodeSystem-eimpf-ergaenzung.html">202207</a></td><td><a onclick="createDiff('CodeSystem-eimpf-ergaenzung.html', '20220729-123914-CodeSystem-eimpf-ergaenzung.html')" href="javascript:void(0);">Diff</a></td></tr>

<tr><td><a href="20220914-070934-CodeSystem-eimpf-ergaenzung.html">202208</a></td><td><a onclick="createDiff('CodeSystem-eimpf-ergaenzung.html', '20220914-070934-CodeSystem-eimpf-ergaenzung.html')" href="javascript:void(0);">Diff</a></td></tr>

<tr><td><a href="20220930-133107-CodeSystem-eimpf-ergaenzung.html">202209</a></td><td><a onclick="createDiff('CodeSystem-eimpf-ergaenzung.html', '20220930-133107-CodeSystem-eimpf-ergaenzung.html')" href="javascript:void(0);">Diff</a></td></tr>

<tr><td><a href="20221005-074617-CodeSystem-eimpf-ergaenzung.html">1.0.0+20221003</a></td><td><a onclick="createDiff('CodeSystem-eimpf-ergaenzung.html', '20221005-074617-CodeSystem-eimpf-ergaenzung.html')" href="javascript:void(0);">Diff</a></td></tr>

<tr><td><a href="20221117-080309-CodeSystem-eimpf-ergaenzung.html">1.3.0+20221107</a></td><td><a onclick="createDiff('CodeSystem-eimpf-ergaenzung.html', '20221117-080309-CodeSystem-eimpf-ergaenzung.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20221122-125045-CodeSystem-eimpf-ergaenzung.html">1.4.0+20221116</a></td><td><a onclick="createDiff('CodeSystem-eimpf-ergaenzung.html', '20221122-125045-CodeSystem-eimpf-ergaenzung.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20221207-084429-CodeSystem-eimpf-ergaenzung.html">1.5.0+20221122</a></td><td><a onclick="createDiff('CodeSystem-eimpf-ergaenzung.html', '20221207-084429-CodeSystem-eimpf-ergaenzung.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20221215-144221-CodeSystem-eimpf-ergaenzung.html">1.5.1+20221202</a></td><td><a onclick="createDiff('CodeSystem-eimpf-ergaenzung.html', '20221215-144221-CodeSystem-eimpf-ergaenzung.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20221222-091144-CodeSystem-eimpf-ergaenzung.html">1.6.0+20221214</a></td><td><a onclick="createDiff('CodeSystem-eimpf-ergaenzung.html', '20221222-091144-CodeSystem-eimpf-ergaenzung.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20221229-105243-CodeSystem-eimpf-ergaenzung.html">1.7.0+20221221</a></td><td><a onclick="createDiff('CodeSystem-eimpf-ergaenzung.html', '20221229-105243-CodeSystem-eimpf-ergaenzung.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20230119-144031-CodeSystem-eimpf-ergaenzung.html">1.8.0+20221229</a></td><td><a onclick="createDiff('CodeSystem-eimpf-ergaenzung.html', '20230119-144031-CodeSystem-eimpf-ergaenzung.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20230201-140131-CodeSystem-eimpf-ergaenzung.html">1.9.0+20230118</a></td><td><a onclick="createDiff('CodeSystem-eimpf-ergaenzung.html', '20230201-140131-CodeSystem-eimpf-ergaenzung.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20230216-062324-CodeSystem-eimpf-ergaenzung.html">2.0.0+20230131</a></td><td><a onclick="createDiff('CodeSystem-eimpf-ergaenzung.html', '20230216-062324-CodeSystem-eimpf-ergaenzung.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20230303-091656-CodeSystem-eimpf-ergaenzung.html">2.1.0+20230215</a></td><td><a onclick="createDiff('CodeSystem-eimpf-ergaenzung.html', '20230303-091656-CodeSystem-eimpf-ergaenzung.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20230308-081721-CodeSystem-eimpf-ergaenzung.html">2.2.0+20230302</a></td><td><a onclick="createDiff('CodeSystem-eimpf-ergaenzung.html', '20230308-081721-CodeSystem-eimpf-ergaenzung.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20230331-063800-CodeSystem-eimpf-ergaenzung.html">2.3.0+20230308</a></td><td><a onclick="createDiff('CodeSystem-eimpf-ergaenzung.html', '20230331-063800-CodeSystem-eimpf-ergaenzung.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20230414-055936-CodeSystem-eimpf-ergaenzung.html">2.4.0+20230330</a></td><td><a onclick="createDiff('CodeSystem-eimpf-ergaenzung.html', '20230414-055936-CodeSystem-eimpf-ergaenzung.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20230621-132654-CodeSystem-eimpf-ergaenzung.html">2.5.0+20230414</a></td><td><a onclick="createDiff('CodeSystem-eimpf-ergaenzung.html', '20230621-132654-CodeSystem-eimpf-ergaenzung.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20230627-074000-CodeSystem-eimpf-ergaenzung.html">2.6.0+20230621</a></td><td><a onclick="createDiff('CodeSystem-eimpf-ergaenzung.html', '20230627-074000-CodeSystem-eimpf-ergaenzung.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20230830-134524-CodeSystem-eimpf-ergaenzung.html">2.7.0+20230626</a></td><td><a onclick="createDiff('CodeSystem-eimpf-ergaenzung.html', '20230830-134524-CodeSystem-eimpf-ergaenzung.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20230929-091708-CodeSystem-eimpf-ergaenzung.html">2.8.0+20230830</a></td><td><a onclick="createDiff('CodeSystem-eimpf-ergaenzung.html', '20230929-091708-CodeSystem-eimpf-ergaenzung.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20231004-094725-CodeSystem-eimpf-ergaenzung.html">2.9.0+20230929</a></td><td><a onclick="createDiff('CodeSystem-eimpf-ergaenzung.html', '20231004-094725-CodeSystem-eimpf-ergaenzung.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20231012-121521-CodeSystem-eimpf-ergaenzung.html">2.10.0+20231004</a></td><td><a onclick="createDiff('CodeSystem-eimpf-ergaenzung.html', '20231012-121521-CodeSystem-eimpf-ergaenzung.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20231215-093328-CodeSystem-eimpf-ergaenzung.html">2.11.0+20231012</a></td><td><a onclick="createDiff('CodeSystem-eimpf-ergaenzung.html', '20231215-093328-CodeSystem-eimpf-ergaenzung.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20231220-133656-CodeSystem-eimpf-ergaenzung.html">2.12.0+20231214</a></td><td><a onclick="createDiff('CodeSystem-eimpf-ergaenzung.html', '20231220-133656-CodeSystem-eimpf-ergaenzung.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20240130-160446-CodeSystem-eimpf-ergaenzung.html">2.13.0+20231220</a></td><td><a onclick="createDiff('CodeSystem-eimpf-ergaenzung.html', '20240130-160446-CodeSystem-eimpf-ergaenzung.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20240207-064935-CodeSystem-eimpf-ergaenzung.html">2.13.1+20240129</a></td><td><a onclick="createDiff('CodeSystem-eimpf-ergaenzung.html', '20240207-064935-CodeSystem-eimpf-ergaenzung.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20240315-133105-CodeSystem-eimpf-ergaenzung.html">2.14.0+20240201</a></td><td><a onclick="createDiff('CodeSystem-eimpf-ergaenzung.html', '20240315-133105-CodeSystem-eimpf-ergaenzung.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20240412-075510-CodeSystem-eimpf-ergaenzung.html">2.15.0+20240314</a></td><td><a onclick="createDiff('CodeSystem-eimpf-ergaenzung.html', '20240412-075510-CodeSystem-eimpf-ergaenzung.html')" href="javascript:void(0);">Diff</a></td></tr>
</table>