<table class="grid">

<tr><td><b>Version Number</b></td><td><b>Current Version vs. Outdated Version</b></td></tr>

<tr><td><a href="20230201-140131-CodeSystem-hl7-administrative-sex.html">201912</a></td><td><a onclick="createDiff('CodeSystem-hl7-administrative-sex.html', '20230201-140131-CodeSystem-hl7-administrative-sex.html')" href="javascript:void(0);">Diff</a></td></tr>
</table>