<table class="grid">
<tr><td><b>Version Number</b></td><td><b>Current Version vs. Outdated Version</b></td></tr>
<tr><td><a href="20240208-143506-CodeSystem-bmg-icd-10-2024.html">1.0.0+20231218</a></td><td><a onclick="createDiff('CodeSystem-bmg-icd-10-2024.html', '20240208-143506-CodeSystem-bmg-icd-10-2024.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20240416-151043-CodeSystem-bmg-icd-10-2024.html">1.1.0+20240206</a></td><td><a onclick="createDiff('CodeSystem-bmg-icd-10-2024.html', '20240416-151043-CodeSystem-bmg-icd-10-2024.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20240429-152854-CodeSystem-bmg-icd-10-2024.html">1.1.1+20240415</a></td><td><a onclick="createDiff('CodeSystem-bmg-icd-10-2024.html', '20240429-152854-CodeSystem-bmg-icd-10-2024.html')" href="javascript:void(0);">Diff</a></td></tr>
</table>