<table class="grid">

<tr><td><b>Version Number</b></td><td><b>Current Version vs. Outdated Version</b></td></tr>

<tr><td><a href="20230201-140131-CodeSystem-elga-lebensmittelallergene.html">1.0.0+20221102</a></td><td><a onclick="createDiff('CodeSystem-elga-lebensmittelallergene.html', '20230201-140131-CodeSystem-elga-lebensmittelallergene.html')" href="javascript:void(0);">Diff</a></td></tr>
</table>