<table class="grid">
<tr><td><b>Version Number</b></td><td><b>Current Version vs. Outdated Version</b></td></tr>
<tr><td><a href="20230828-122115-CodeSystem-medikationactiveingredient.html">1.0.0+20230724</a></td><td><a onclick="createDiff('CodeSystem-medikationactiveingredient.html', '20230828-122115-CodeSystem-medikationactiveingredient.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20230906-140808-CodeSystem-medikationactiveingredient.html">1.1.0+20230821</a></td><td><a onclick="createDiff('CodeSystem-medikationactiveingredient.html', '20230906-140808-CodeSystem-medikationactiveingredient.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20230927-153734-CodeSystem-medikationactiveingredient.html">1.2.0+20230905</a></td><td><a onclick="createDiff('CodeSystem-medikationactiveingredient.html', '20230927-153734-CodeSystem-medikationactiveingredient.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20231030-135826-CodeSystem-medikationactiveingredient.html">1.3.0+20230922</a></td><td><a onclick="createDiff('CodeSystem-medikationactiveingredient.html', '20231030-135826-CodeSystem-medikationactiveingredient.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20231031-064644-CodeSystem-medikationactiveingredient.html">1.3.0+20230922</a></td><td><a onclick="createDiff('CodeSystem-medikationactiveingredient.html', '20231031-064644-CodeSystem-medikationactiveingredient.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20231130-125147-CodeSystem-medikationactiveingredient.html">1.4.0+20231023</a></td><td><a onclick="createDiff('CodeSystem-medikationactiveingredient.html', '20231130-125147-CodeSystem-medikationactiveingredient.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20231207-115958-CodeSystem-medikationactiveingredient.html">1.5.0+20231123</a></td><td><a onclick="createDiff('CodeSystem-medikationactiveingredient.html', '20231207-115958-CodeSystem-medikationactiveingredient.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20231227-114624-CodeSystem-medikationactiveingredient.html">1.6.0+20231206</a></td><td><a onclick="createDiff('CodeSystem-medikationactiveingredient.html', '20231227-114624-CodeSystem-medikationactiveingredient.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20240130-160446-CodeSystem-medikationactiveingredient.html">1.7.0+20231221</a></td><td><a onclick="createDiff('CodeSystem-medikationactiveingredient.html', '20240130-160446-CodeSystem-medikationactiveingredient.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20240229-191536-CodeSystem-medikationactiveingredient.html">1.8.0+20240125</a></td><td><a onclick="createDiff('CodeSystem-medikationactiveingredient.html', '20240229-191536-CodeSystem-medikationactiveingredient.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20240328-113824-CodeSystem-medikationactiveingredient.html">1.9.0+20240226</a></td><td><a onclick="createDiff('CodeSystem-medikationactiveingredient.html', '20240328-113824-CodeSystem-medikationactiveingredient.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20240429-152854-CodeSystem-medikationactiveingredient.html">1.10.0+20240326</a></td><td><a onclick="createDiff('CodeSystem-medikationactiveingredient.html', '20240429-152854-CodeSystem-medikationactiveingredient.html')" href="javascript:void(0);">Diff</a></td></tr>
</table>