<table class="grid">

<tr><td><b>Version Number</b></td><td><b>Current Version vs. Outdated Version</b></td></tr>

<tr><td><a href="20220202-122156-CodeSystem-eimpf-schemamatrix.html">202112.2</a></td><td><a onclick="createDiff('CodeSystem-eimpf-schemamatrix.html', '20220202-122156-CodeSystem-eimpf-schemamatrix.html')" href="javascript:void(0);">Diff</a></td></tr>

<tr><td><a href="20220202-142407-CodeSystem-eimpf-schemamatrix.html">202201</a></td><td><a onclick="createDiff('CodeSystem-eimpf-schemamatrix.html', '20220202-142407-CodeSystem-eimpf-schemamatrix.html')" href="javascript:void(0);">Diff</a></td></tr>

<tr><td><a href="20220202-200841-CodeSystem-eimpf-schemamatrix.html">202201.1</a></td><td><a onclick="createDiff('CodeSystem-eimpf-schemamatrix.html', '20220202-200841-CodeSystem-eimpf-schemamatrix.html')" href="javascript:void(0);">Diff</a></td></tr>

<tr><td><a href="20220203-170002-CodeSystem-eimpf-schemamatrix.html">202201.2</a></td><td><a onclick="createDiff('CodeSystem-eimpf-schemamatrix.html', '20220203-170002-CodeSystem-eimpf-schemamatrix.html')" href="javascript:void(0);">Diff</a></td></tr>

<tr><td><a href="20220211-073707-CodeSystem-eimpf-schemamatrix.html">202202</a></td><td><a onclick="createDiff('CodeSystem-eimpf-schemamatrix.html', '20220211-073707-CodeSystem-eimpf-schemamatrix.html')" href="javascript:void(0);">Diff</a></td></tr>

<tr><td><a href="20220218-121913-CodeSystem-eimpf-schemamatrix.html">202202.1</a></td><td><a onclick="createDiff('CodeSystem-eimpf-schemamatrix.html', '20220218-121913-CodeSystem-eimpf-schemamatrix.html')" href="javascript:void(0);">Diff</a></td></tr>

<tr><td><a href="20220301-083138-CodeSystem-eimpf-schemamatrix.html">202202.2</a></td><td><a onclick="createDiff('CodeSystem-eimpf-schemamatrix.html', '20220301-083138-CodeSystem-eimpf-schemamatrix.html')" href="javascript:void(0);">Diff</a></td></tr>

<tr><td><a href="20220304-115419-CodeSystem-eimpf-schemamatrix.html">202203</a></td><td><a onclick="createDiff('CodeSystem-eimpf-schemamatrix.html', '20220304-115419-CodeSystem-eimpf-schemamatrix.html')" href="javascript:void(0);">Diff</a></td></tr>

<tr><td><a href="20220315-163833-CodeSystem-eimpf-schemamatrix.html">202203.1</a></td><td><a onclick="createDiff('CodeSystem-eimpf-schemamatrix.html', '20220315-163833-CodeSystem-eimpf-schemamatrix.html')" href="javascript:void(0);">Diff</a></td></tr>

<tr><td><a href="20220318-140037-CodeSystem-eimpf-schemamatrix.html">202203.2</a></td><td><a onclick="createDiff('CodeSystem-eimpf-schemamatrix.html', '20220318-140037-CodeSystem-eimpf-schemamatrix.html')" href="javascript:void(0);">Diff</a></td></tr>

<tr><td><a href="20220331-103221-CodeSystem-eimpf-schemamatrix.html">202203.3</a></td><td><a onclick="createDiff('CodeSystem-eimpf-schemamatrix.html', '20220331-103221-CodeSystem-eimpf-schemamatrix.html')" href="javascript:void(0);">Diff</a></td></tr>

<tr><td><a href="20220411-134554-CodeSystem-eimpf-schemamatrix.html">202203.4</a></td><td><a onclick="createDiff('CodeSystem-eimpf-schemamatrix.html', '20220411-134554-CodeSystem-eimpf-schemamatrix.html')" href="javascript:void(0);">Diff</a></td></tr>

<tr><td><a href="20220421-164248-CodeSystem-eimpf-schemamatrix.html">202204</a></td><td><a onclick="createDiff('CodeSystem-eimpf-schemamatrix.html', '20220421-164248-CodeSystem-eimpf-schemamatrix.html')" href="javascript:void(0);">Diff</a></td></tr>

<tr><td><a href="20220504-101325-CodeSystem-eimpf-schemamatrix.html">202204.1</a></td><td><a onclick="createDiff('CodeSystem-eimpf-schemamatrix.html', '20220504-101325-CodeSystem-eimpf-schemamatrix.html')" href="javascript:void(0);">Diff</a></td></tr>

<tr><td><a href="20220516-151952-CodeSystem-eimpf-schemamatrix.html">202205</a></td><td><a onclick="createDiff('CodeSystem-eimpf-schemamatrix.html', '20220516-151952-CodeSystem-eimpf-schemamatrix.html')" href="javascript:void(0);">Diff</a></td></tr>

<tr><td><a href="20220607-092051-CodeSystem-eimpf-schemamatrix.html">202205.1</a></td><td><a onclick="createDiff('CodeSystem-eimpf-schemamatrix.html', '20220607-092051-CodeSystem-eimpf-schemamatrix.html')" href="javascript:void(0);">Diff</a></td></tr>

<tr><td><a href="20220613-144156-CodeSystem-eimpf-schemamatrix.html">202206</a></td><td><a onclick="createDiff('CodeSystem-eimpf-schemamatrix.html', '20220613-144156-CodeSystem-eimpf-schemamatrix.html')" href="javascript:void(0);">Diff</a></td></tr>

<tr><td><a href="20220614-103125-CodeSystem-eimpf-schemamatrix.html">202206.1</a></td><td><a onclick="createDiff('CodeSystem-eimpf-schemamatrix.html', '20220614-103125-CodeSystem-eimpf-schemamatrix.html')" href="javascript:void(0);">Diff</a></td></tr>

<tr><td><a href="20220624-081626-CodeSystem-eimpf-schemamatrix.html">202206.2</a></td><td><a onclick="createDiff('CodeSystem-eimpf-schemamatrix.html', '20220624-081626-CodeSystem-eimpf-schemamatrix.html')" href="javascript:void(0);">Diff</a></td></tr>

<tr><td><a href="20220729-105852-CodeSystem-eimpf-schemamatrix.html">202207</a></td><td><a onclick="createDiff('CodeSystem-eimpf-schemamatrix.html', '20220729-105852-CodeSystem-eimpf-schemamatrix.html')" href="javascript:void(0);">Diff</a></td></tr>

<tr><td><a href="20220803-144119-CodeSystem-eimpf-schemamatrix.html">202207.1</a></td><td><a onclick="createDiff('CodeSystem-eimpf-schemamatrix.html', '20220803-144119-CodeSystem-eimpf-schemamatrix.html')" href="javascript:void(0);">Diff</a></td></tr>

<tr><td><a href="20220811-150415-CodeSystem-eimpf-schemamatrix.html">202208</a></td><td><a onclick="createDiff('CodeSystem-eimpf-schemamatrix.html', '20220811-150415-CodeSystem-eimpf-schemamatrix.html')" href="javascript:void(0);">Diff</a></td></tr>

<tr><td><a href="20220907-121305-CodeSystem-eimpf-schemamatrix.html">202208.1</a></td><td><a onclick="createDiff('CodeSystem-eimpf-schemamatrix.html', '20220907-121305-CodeSystem-eimpf-schemamatrix.html')" href="javascript:void(0);">Diff</a></td></tr>

<tr><td><a href="20220913-112629-CodeSystem-eimpf-schemamatrix.html">202209</a></td><td><a onclick="createDiff('CodeSystem-eimpf-schemamatrix.html', '20220913-112629-CodeSystem-eimpf-schemamatrix.html')" href="javascript:void(0);">Diff</a></td></tr>

<tr><td><a href="20221004-124016-CodeSystem-eimpf-schemamatrix.html">202209.1</a></td><td><a onclick="createDiff('CodeSystem-eimpf-schemamatrix.html', '20221004-124016-CodeSystem-eimpf-schemamatrix.html')" href="javascript:void(0);">Diff</a></td></tr>

<tr><td><a href="20221013-125727-CodeSystem-eimpf-schemamatrix.html">1.0.0+20221004</a></td><td><a onclick="createDiff('CodeSystem-eimpf-schemamatrix.html', '20221013-125727-CodeSystem-eimpf-schemamatrix.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20221116-153950-CodeSystem-eimpf-schemamatrix.html">1.1.0+20221012</a></td><td><a onclick="createDiff('CodeSystem-eimpf-schemamatrix.html', '20221116-153950-CodeSystem-eimpf-schemamatrix.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20221128-092517-CodeSystem-eimpf-schemamatrix.html">1.1.0+20221116</a></td><td><a onclick="createDiff('CodeSystem-eimpf-schemamatrix.html', '20221128-092517-CodeSystem-eimpf-schemamatrix.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20221206-074152-CodeSystem-eimpf-schemamatrix.html">1.2.0+20221128</a></td><td><a onclick="createDiff('CodeSystem-eimpf-schemamatrix.html', '20221206-074152-CodeSystem-eimpf-schemamatrix.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20221219-084029-CodeSystem-eimpf-schemamatrix.html">1.3.0+20221206</a></td><td><a onclick="createDiff('CodeSystem-eimpf-schemamatrix.html', '20221219-084029-CodeSystem-eimpf-schemamatrix.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20221228-090501-CodeSystem-eimpf-schemamatrix.html">1.4.0+20221219</a></td><td><a onclick="createDiff('CodeSystem-eimpf-schemamatrix.html', '20221228-090501-CodeSystem-eimpf-schemamatrix.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20230119-144031-CodeSystem-eimpf-schemamatrix.html">1.5.0+20221228</a></td><td><a onclick="createDiff('CodeSystem-eimpf-schemamatrix.html', '20230119-144031-CodeSystem-eimpf-schemamatrix.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20230201-140131-CodeSystem-eimpf-schemamatrix.html">1.6.0+20230118</a></td><td><a onclick="createDiff('CodeSystem-eimpf-schemamatrix.html', '20230201-140131-CodeSystem-eimpf-schemamatrix.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20230203-090400-CodeSystem-eimpf-schemamatrix.html">2.0.0+20230131</a></td><td><a onclick="createDiff('CodeSystem-eimpf-schemamatrix.html', '20230203-090400-CodeSystem-eimpf-schemamatrix.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20230216-062324-CodeSystem-eimpf-schemamatrix.html">2.1.0+20230202</a></td><td><a onclick="createDiff('CodeSystem-eimpf-schemamatrix.html', '20230216-062324-CodeSystem-eimpf-schemamatrix.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20230403-114737-CodeSystem-eimpf-schemamatrix.html">2.2.0+20230215</a></td><td><a onclick="createDiff('CodeSystem-eimpf-schemamatrix.html', '20230403-114737-CodeSystem-eimpf-schemamatrix.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20230420-064452-CodeSystem-eimpf-schemamatrix.html">2.3.0+20230403</a></td><td><a onclick="createDiff('CodeSystem-eimpf-schemamatrix.html', '20230420-064452-CodeSystem-eimpf-schemamatrix.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20230525-101619-CodeSystem-eimpf-schemamatrix.html">2.4.0+20230420</a></td><td><a onclick="createDiff('CodeSystem-eimpf-schemamatrix.html', '20230525-101619-CodeSystem-eimpf-schemamatrix.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20230907-103551-CodeSystem-eimpf-schemamatrix.html">2.6.0+20230524</a></td><td><a onclick="createDiff('CodeSystem-eimpf-schemamatrix.html', '20230907-103551-CodeSystem-eimpf-schemamatrix.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20231004-094725-CodeSystem-eimpf-schemamatrix.html">2.7.0+20230907</a></td><td><a onclick="createDiff('CodeSystem-eimpf-schemamatrix.html', '20231004-094725-CodeSystem-eimpf-schemamatrix.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20231012-121521-CodeSystem-eimpf-schemamatrix.html">2.8.0+20231004</a></td><td><a onclick="createDiff('CodeSystem-eimpf-schemamatrix.html', '20231012-121521-CodeSystem-eimpf-schemamatrix.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20231023-080446-CodeSystem-eimpf-schemamatrix.html">2.9.0+20231012</a></td><td><a onclick="createDiff('CodeSystem-eimpf-schemamatrix.html', '20231023-080446-CodeSystem-eimpf-schemamatrix.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20231214-153827-CodeSystem-eimpf-schemamatrix.html">2.10.0+20231017</a></td><td><a onclick="createDiff('CodeSystem-eimpf-schemamatrix.html', '20231214-153827-CodeSystem-eimpf-schemamatrix.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20231220-133656-CodeSystem-eimpf-schemamatrix.html">2.11.0+20231214</a></td><td><a onclick="createDiff('CodeSystem-eimpf-schemamatrix.html', '20231220-133656-CodeSystem-eimpf-schemamatrix.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20240109-155144-CodeSystem-eimpf-schemamatrix.html">2.12.0+20231220</a></td><td><a onclick="createDiff('CodeSystem-eimpf-schemamatrix.html', '20240109-155144-CodeSystem-eimpf-schemamatrix.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20240125-134155-CodeSystem-eimpf-schemamatrix.html">2.13.0+20240108</a></td><td><a onclick="createDiff('CodeSystem-eimpf-schemamatrix.html', '20240125-134155-CodeSystem-eimpf-schemamatrix.html')" href="javascript:void(0);">Diff</a></td></tr>
</table>