<table class="grid">

<tr><td><b>Version Number</b></td><td><b>Current Version vs. Outdated Version</b></td></tr>

<tr><td><a href="20230201-140131-CodeSystem-sciphox-seitenlokalisation.html"></a></td><td><a onclick="createDiff('CodeSystem-sciphox-seitenlokalisation.html', '20230201-140131-CodeSystem-sciphox-seitenlokalisation.html')" href="javascript:void(0);">Diff</a></td></tr>
</table>