<table class="grid">

<tr><td><b>Version Number</b></td><td><b>Current Version vs. Outdated Version</b></td></tr>

<tr><td><a href="20220202-200841-CodeSystem-snomed-ct-auszug.html">202109</a></td><td><a onclick="createDiff('CodeSystem-snomed-ct-auszug.html', '20220202-200841-CodeSystem-snomed-ct-auszug.html')" href="javascript:void(0);">Diff</a></td></tr>

<tr><td><a href="20220315-163833-CodeSystem-snomed-ct-auszug.html">202202</a></td><td><a onclick="createDiff('CodeSystem-snomed-ct-auszug.html', '20220315-163833-CodeSystem-snomed-ct-auszug.html')" href="javascript:void(0);">Diff</a></td></tr>

<tr><td><a href="20220401-075405-CodeSystem-snomed-ct-auszug.html">202203</a></td><td><a onclick="createDiff('CodeSystem-snomed-ct-auszug.html', '20220401-075405-CodeSystem-snomed-ct-auszug.html')" href="javascript:void(0);">Diff</a></td></tr>

<tr><td><a href="20230201-140131-CodeSystem-snomed-ct-auszug.html">202204</a></td><td><a onclick="createDiff('CodeSystem-snomed-ct-auszug.html', '20230201-140131-CodeSystem-snomed-ct-auszug.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20230203-090400-CodeSystem-snomed-ct-auszug.html">1.0.0+20230131</a></td><td><a onclick="createDiff('CodeSystem-snomed-ct-auszug.html', '20230203-090400-CodeSystem-snomed-ct-auszug.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20230308-081721-CodeSystem-snomed-ct-auszug.html">1.1.0+20230202</a></td><td><a onclick="createDiff('CodeSystem-snomed-ct-auszug.html', '20230308-081721-CodeSystem-snomed-ct-auszug.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20230803-135907-CodeSystem-snomed-ct-auszug.html">1.2.0+20230308</a></td><td><a onclick="createDiff('CodeSystem-snomed-ct-auszug.html', '20230803-135907-CodeSystem-snomed-ct-auszug.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20231016-111854-CodeSystem-snomed-ct-auszug.html">1.3.0+20230803</a></td><td><a onclick="createDiff('CodeSystem-snomed-ct-auszug.html', '20231016-111854-CodeSystem-snomed-ct-auszug.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20231017-141526-CodeSystem-snomed-ct-auszug.html">1.4.0+20231016</a></td><td><a onclick="createDiff('CodeSystem-snomed-ct-auszug.html', '20231017-141526-CodeSystem-snomed-ct-auszug.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20231120-122337-CodeSystem-snomed-ct-auszug.html">1.5.0+20231017</a></td><td><a onclick="createDiff('CodeSystem-snomed-ct-auszug.html', '20231120-122337-CodeSystem-snomed-ct-auszug.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20240416-151043-CodeSystem-snomed-ct-auszug.html">1.6.0+20231108</a></td><td><a onclick="createDiff('CodeSystem-snomed-ct-auszug.html', '20240416-151043-CodeSystem-snomed-ct-auszug.html')" href="javascript:void(0);">Diff</a></td></tr>
</table>