<table class="grid">

<tr><td><b>Version Number</b></td><td><b>Current Version vs. Outdated Version</b></td></tr>

<tr><td><a href="20220202-122156-CodeSystem-eimpf-impfstoffe.html">202112.1</a></td><td><a onclick="createDiff('CodeSystem-eimpf-impfstoffe.html', '20220202-122156-CodeSystem-eimpf-impfstoffe.html')" href="javascript:void(0);">Diff</a></td></tr>

<tr><td><a href="20220203-170002-CodeSystem-eimpf-impfstoffe.html">202201</a></td><td><a onclick="createDiff('CodeSystem-eimpf-impfstoffe.html', '20220203-170002-CodeSystem-eimpf-impfstoffe.html')" href="javascript:void(0);">Diff</a></td></tr>

<tr><td><a href="20220224-135236-CodeSystem-eimpf-impfstoffe.html">202202</a></td><td><a onclick="createDiff('CodeSystem-eimpf-impfstoffe.html', '20220224-135236-CodeSystem-eimpf-impfstoffe.html')" href="javascript:void(0);">Diff</a></td></tr>

<tr><td><a href="20220330-070709-CodeSystem-eimpf-impfstoffe.html">202202.1</a></td><td><a onclick="createDiff('CodeSystem-eimpf-impfstoffe.html', '20220330-070709-CodeSystem-eimpf-impfstoffe.html')" href="javascript:void(0);">Diff</a></td></tr>

<tr><td><a href="20220422-132728-CodeSystem-eimpf-impfstoffe.html">202203</a></td><td><a onclick="createDiff('CodeSystem-eimpf-impfstoffe.html', '20220422-132728-CodeSystem-eimpf-impfstoffe.html')" href="javascript:void(0);">Diff</a></td></tr>

<tr><td><a href="20220519-101607-CodeSystem-eimpf-impfstoffe.html">202204</a></td><td><a onclick="createDiff('CodeSystem-eimpf-impfstoffe.html', '20220519-101607-CodeSystem-eimpf-impfstoffe.html')" href="javascript:void(0);">Diff</a></td></tr>

<tr><td><a href="20220614-103125-CodeSystem-eimpf-impfstoffe.html">202205</a></td><td><a onclick="createDiff('CodeSystem-eimpf-impfstoffe.html', '20220614-103125-CodeSystem-eimpf-impfstoffe.html')" href="javascript:void(0);">Diff</a></td></tr>

<tr><td><a href="20220711-070113-CodeSystem-eimpf-impfstoffe.html">202206</a></td><td><a onclick="createDiff('CodeSystem-eimpf-impfstoffe.html', '20220711-070113-CodeSystem-eimpf-impfstoffe.html')" href="javascript:void(0);">Diff</a></td></tr>

<tr><td><a href="20220726-072141-CodeSystem-eimpf-impfstoffe.html">202207</a></td><td><a onclick="createDiff('CodeSystem-eimpf-impfstoffe.html', '20220726-072141-CodeSystem-eimpf-impfstoffe.html')" href="javascript:void(0);">Diff</a></td></tr>

<tr><td><a href="20220729-091145-CodeSystem-eimpf-impfstoffe.html">202207.1</a></td><td><a onclick="createDiff('CodeSystem-eimpf-impfstoffe.html', '20220729-091145-CodeSystem-eimpf-impfstoffe.html')" href="javascript:void(0);">Diff</a></td></tr>

<tr><td><a href="20220805-111350-CodeSystem-eimpf-impfstoffe.html">202207.2</a></td><td><a onclick="createDiff('CodeSystem-eimpf-impfstoffe.html', '20220805-111350-CodeSystem-eimpf-impfstoffe.html')" href="javascript:void(0);">Diff</a></td></tr>

<tr><td><a href="20220823-131709-CodeSystem-eimpf-impfstoffe.html">202208</a></td><td><a onclick="createDiff('CodeSystem-eimpf-impfstoffe.html', '20220823-131709-CodeSystem-eimpf-impfstoffe.html')" href="javascript:void(0);">Diff</a></td></tr>

<tr><td><a href="20220912-073316-CodeSystem-eimpf-impfstoffe.html">202208.1</a></td><td><a onclick="createDiff('CodeSystem-eimpf-impfstoffe.html', '20220912-073316-CodeSystem-eimpf-impfstoffe.html')" href="javascript:void(0);">Diff</a></td></tr>

<tr><td><a href="20220929-094247-CodeSystem-eimpf-impfstoffe.html">202209</a></td><td><a onclick="createDiff('CodeSystem-eimpf-impfstoffe.html', '20220929-094247-CodeSystem-eimpf-impfstoffe.html')" href="javascript:void(0);">Diff</a></td></tr>

<tr><td><a href="20221011-183608-CodeSystem-eimpf-impfstoffe.html">202209</a></td><td><a onclick="createDiff('CodeSystem-eimpf-impfstoffe.html', '20221011-183608-CodeSystem-eimpf-impfstoffe.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20221013-125727-CodeSystem-eimpf-impfstoffe.html">1.0.0+20221011</a></td><td><a onclick="createDiff('CodeSystem-eimpf-impfstoffe.html', '20221013-125727-CodeSystem-eimpf-impfstoffe.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20221028-063602-CodeSystem-eimpf-impfstoffe.html">1.0.1+20221013</a></td><td><a onclick="createDiff('CodeSystem-eimpf-impfstoffe.html', '20221028-063602-CodeSystem-eimpf-impfstoffe.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20221117-175540-CodeSystem-eimpf-impfstoffe.html">1.1.0+20221027</a></td><td><a onclick="createDiff('CodeSystem-eimpf-impfstoffe.html', '20221117-175540-CodeSystem-eimpf-impfstoffe.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20221124-093014-CodeSystem-eimpf-impfstoffe.html">1.2.0+20221117</a></td><td><a onclick="createDiff('CodeSystem-eimpf-impfstoffe.html', '20221124-093014-CodeSystem-eimpf-impfstoffe.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20221129-010910-CodeSystem-eimpf-impfstoffe.html">1.2.1+20221124</a></td><td><a onclick="createDiff('CodeSystem-eimpf-impfstoffe.html', '20221129-010910-CodeSystem-eimpf-impfstoffe.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20230127-112902-CodeSystem-eimpf-impfstoffe.html">1.4.0+20221222</a></td><td><a onclick="createDiff('CodeSystem-eimpf-impfstoffe.html', '20230127-112902-CodeSystem-eimpf-impfstoffe.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20230201-140131-CodeSystem-eimpf-impfstoffe.html">1.5.0+20230126</a></td><td><a onclick="createDiff('CodeSystem-eimpf-impfstoffe.html', '20230201-140131-CodeSystem-eimpf-impfstoffe.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20230227-082008-CodeSystem-eimpf-impfstoffe.html">2.0.0+20230131</a></td><td><a onclick="createDiff('CodeSystem-eimpf-impfstoffe.html', '20230227-082008-CodeSystem-eimpf-impfstoffe.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20230329-082942-CodeSystem-eimpf-impfstoffe.html">2.1.0+20230224</a></td><td><a onclick="createDiff('CodeSystem-eimpf-impfstoffe.html', '20230329-082942-CodeSystem-eimpf-impfstoffe.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20230331-095057-CodeSystem-eimpf-impfstoffe.html">2.2.0+20230328</a></td><td><a onclick="createDiff('CodeSystem-eimpf-impfstoffe.html', '20230331-095057-CodeSystem-eimpf-impfstoffe.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20230509-103337-CodeSystem-eimpf-impfstoffe.html">2.2.1+20230331</a></td><td><a onclick="createDiff('CodeSystem-eimpf-impfstoffe.html', '20230509-103337-CodeSystem-eimpf-impfstoffe.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20230526-065755-CodeSystem-eimpf-impfstoffe.html">2.3.0+20230425</a></td><td><a onclick="createDiff('CodeSystem-eimpf-impfstoffe.html', '20230526-065755-CodeSystem-eimpf-impfstoffe.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20230623-090409-CodeSystem-eimpf-impfstoffe.html">2.4.0+20230523</a></td><td><a onclick="createDiff('CodeSystem-eimpf-impfstoffe.html', '20230623-090409-CodeSystem-eimpf-impfstoffe.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20230727-141059-CodeSystem-eimpf-impfstoffe.html">2.5.0+20230623</a></td><td><a onclick="createDiff('CodeSystem-eimpf-impfstoffe.html', '20230727-141059-CodeSystem-eimpf-impfstoffe.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20230828-122115-CodeSystem-eimpf-impfstoffe.html">2.6.0+20230724</a></td><td><a onclick="createDiff('CodeSystem-eimpf-impfstoffe.html', '20230828-122115-CodeSystem-eimpf-impfstoffe.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20230829-101848-CodeSystem-eimpf-impfstoffe.html">2.7.0+20230821</a></td><td><a onclick="createDiff('CodeSystem-eimpf-impfstoffe.html', '20230829-101848-CodeSystem-eimpf-impfstoffe.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20230906-140808-CodeSystem-eimpf-impfstoffe.html">2.8.0+20230829</a></td><td><a onclick="createDiff('CodeSystem-eimpf-impfstoffe.html', '20230906-140808-CodeSystem-eimpf-impfstoffe.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20230915-132517-CodeSystem-eimpf-impfstoffe.html">2.9.0+20230905</a></td><td><a onclick="createDiff('CodeSystem-eimpf-impfstoffe.html', '20230915-132517-CodeSystem-eimpf-impfstoffe.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20230927-153734-CodeSystem-eimpf-impfstoffe.html">2.9.1+20230913</a></td><td><a onclick="createDiff('CodeSystem-eimpf-impfstoffe.html', '20230927-153734-CodeSystem-eimpf-impfstoffe.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20231030-071539-CodeSystem-eimpf-impfstoffe.html">2.10.0+20230922</a></td><td><a onclick="createDiff('CodeSystem-eimpf-impfstoffe.html', '20231030-071539-CodeSystem-eimpf-impfstoffe.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20231130-125147-CodeSystem-eimpf-impfstoffe.html">2.11.0+20231023</a></td><td><a onclick="createDiff('CodeSystem-eimpf-impfstoffe.html', '20231130-125147-CodeSystem-eimpf-impfstoffe.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20231207-115958-CodeSystem-eimpf-impfstoffe.html">2.12.0+20231123</a></td><td><a onclick="createDiff('CodeSystem-eimpf-impfstoffe.html', '20231207-115958-CodeSystem-eimpf-impfstoffe.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20231227-114624-CodeSystem-eimpf-impfstoffe.html">2.13.0+20231206</a></td><td><a onclick="createDiff('CodeSystem-eimpf-impfstoffe.html', '20231227-114624-CodeSystem-eimpf-impfstoffe.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20240130-160446-CodeSystem-eimpf-impfstoffe.html">2.14.0+20231220</a></td><td><a onclick="createDiff('CodeSystem-eimpf-impfstoffe.html', '20240130-160446-CodeSystem-eimpf-impfstoffe.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20240229-191536-CodeSystem-eimpf-impfstoffe.html">2.15.0+20240125</a></td><td><a onclick="createDiff('CodeSystem-eimpf-impfstoffe.html', '20240229-191536-CodeSystem-eimpf-impfstoffe.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20240328-113824-CodeSystem-eimpf-impfstoffe.html">2.16.0+20240226</a></td><td><a onclick="createDiff('CodeSystem-eimpf-impfstoffe.html', '20240328-113824-CodeSystem-eimpf-impfstoffe.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20240429-152854-CodeSystem-eimpf-impfstoffe.html">2.17.0+20240326</a></td><td><a onclick="createDiff('CodeSystem-eimpf-impfstoffe.html', '20240429-152854-CodeSystem-eimpf-impfstoffe.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20240502-125101-CodeSystem-eimpf-impfstoffe.html">2.18.0+20240425</a></td><td><a onclick="createDiff('CodeSystem-eimpf-impfstoffe.html', '20240502-125101-CodeSystem-eimpf-impfstoffe.html')" href="javascript:void(0);">Diff</a></td></tr>
</table>