<table class="grid">

<tr><td><b>Version Number</b></td><td><b>Current Version vs. Outdated Version</b></td></tr>

<tr><td><a href="20220202-122156-CodeSystem-medikationdarreichungsform.html">20210928</a></td><td><a onclick="createDiff('CodeSystem-medikationdarreichungsform.html', '20220202-122156-CodeSystem-medikationdarreichungsform.html')" href="javascript:void(0);">Diff</a></td></tr>

<tr><td><a href="20220202-142407-CodeSystem-medikationdarreichungsform.html">20211126</a></td><td><a onclick="createDiff('CodeSystem-medikationdarreichungsform.html', '20220202-142407-CodeSystem-medikationdarreichungsform.html')" href="javascript:void(0);">Diff</a></td></tr>

<tr><td><a href="20220330-070709-CodeSystem-medikationdarreichungsform.html">20220125</a></td><td><a onclick="createDiff('CodeSystem-medikationdarreichungsform.html', '20220330-070709-CodeSystem-medikationdarreichungsform.html')" href="javascript:void(0);">Diff</a></td></tr>

<tr><td><a href="20220614-103125-CodeSystem-medikationdarreichungsform.html">20220329</a></td><td><a onclick="createDiff('CodeSystem-medikationdarreichungsform.html', '20220614-103125-CodeSystem-medikationdarreichungsform.html')" href="javascript:void(0);">Diff</a></td></tr>

<tr><td><a href="20220711-070113-CodeSystem-medikationdarreichungsform.html">20220621</a></td><td><a onclick="createDiff('CodeSystem-medikationdarreichungsform.html', '20220711-070113-CodeSystem-medikationdarreichungsform.html')" href="javascript:void(0);">Diff</a></td></tr>

<tr><td><a href="20220726-072141-CodeSystem-medikationdarreichungsform.html">20220718</a></td><td><a onclick="createDiff('CodeSystem-medikationdarreichungsform.html', '20220726-072141-CodeSystem-medikationdarreichungsform.html')" href="javascript:void(0);">Diff</a></td></tr>

<tr><td><a href="20220823-131709-CodeSystem-medikationdarreichungsform.html">20220725</a></td><td><a onclick="createDiff('CodeSystem-medikationdarreichungsform.html', '20220823-131709-CodeSystem-medikationdarreichungsform.html')" href="javascript:void(0);">Diff</a></td></tr>

<tr><td><a href="20220929-094247-CodeSystem-medikationdarreichungsform.html">20220825</a></td><td><a onclick="createDiff('CodeSystem-medikationdarreichungsform.html', '20220929-094247-CodeSystem-medikationdarreichungsform.html')" href="javascript:void(0);">Diff</a></td></tr>

<tr><td><a href="20221011-183608-CodeSystem-medikationdarreichungsform.html">20220825</a></td><td><a onclick="createDiff('CodeSystem-medikationdarreichungsform.html', '20221011-183608-CodeSystem-medikationdarreichungsform.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20221028-063602-CodeSystem-medikationdarreichungsform.html">1.0.0+20221011</a></td><td><a onclick="createDiff('CodeSystem-medikationdarreichungsform.html', '20221028-063602-CodeSystem-medikationdarreichungsform.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20221117-175540-CodeSystem-medikationdarreichungsform.html">1.1.0+20221027</a></td><td><a onclick="createDiff('CodeSystem-medikationdarreichungsform.html', '20221117-175540-CodeSystem-medikationdarreichungsform.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20221128-134846-CodeSystem-medikationdarreichungsform.html">1.2.0+20221117</a></td><td><a onclick="createDiff('CodeSystem-medikationdarreichungsform.html', '20221128-134846-CodeSystem-medikationdarreichungsform.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20221222-142142-CodeSystem-medikationdarreichungsform.html">1.3.0+20221128</a></td><td><a onclick="createDiff('CodeSystem-medikationdarreichungsform.html', '20221222-142142-CodeSystem-medikationdarreichungsform.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20221222-161217-CodeSystem-medikationdarreichungsform.html">1.3.0+20221128</a></td><td><a onclick="createDiff('CodeSystem-medikationdarreichungsform.html', '20221222-161217-CodeSystem-medikationdarreichungsform.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20230127-123359-CodeSystem-medikationdarreichungsform.html">1.4.0+20221222</a></td><td><a onclick="createDiff('CodeSystem-medikationdarreichungsform.html', '20230127-123359-CodeSystem-medikationdarreichungsform.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20230201-140131-CodeSystem-medikationdarreichungsform.html">1.5.0+20230126</a></td><td><a onclick="createDiff('CodeSystem-medikationdarreichungsform.html', '20230201-140131-CodeSystem-medikationdarreichungsform.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20230227-053007-CodeSystem-medikationdarreichungsform.html">2.0.0+20230131</a></td><td><a onclick="createDiff('CodeSystem-medikationdarreichungsform.html', '20230227-053007-CodeSystem-medikationdarreichungsform.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20230315-131421-CodeSystem-medikationdarreichungsform.html">2.1.0+20230224</a></td><td><a onclick="createDiff('CodeSystem-medikationdarreichungsform.html', '20230315-131421-CodeSystem-medikationdarreichungsform.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20230329-082942-CodeSystem-medikationdarreichungsform.html">2.2.0+20230314</a></td><td><a onclick="createDiff('CodeSystem-medikationdarreichungsform.html', '20230329-082942-CodeSystem-medikationdarreichungsform.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20230509-103337-CodeSystem-medikationdarreichungsform.html">2.3.0+20230322</a></td><td><a onclick="createDiff('CodeSystem-medikationdarreichungsform.html', '20230509-103337-CodeSystem-medikationdarreichungsform.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20230526-065755-CodeSystem-medikationdarreichungsform.html">2.4.0+20230425</a></td><td><a onclick="createDiff('CodeSystem-medikationdarreichungsform.html', '20230526-065755-CodeSystem-medikationdarreichungsform.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20230727-141059-CodeSystem-medikationdarreichungsform.html">2.5.0+20230523</a></td><td><a onclick="createDiff('CodeSystem-medikationdarreichungsform.html', '20230727-141059-CodeSystem-medikationdarreichungsform.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20230828-122115-CodeSystem-medikationdarreichungsform.html">2.6.0+20230724</a></td><td><a onclick="createDiff('CodeSystem-medikationdarreichungsform.html', '20230828-122115-CodeSystem-medikationdarreichungsform.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20240229-191536-CodeSystem-medikationdarreichungsform.html">2.7.0+20230821</a></td><td><a onclick="createDiff('CodeSystem-medikationdarreichungsform.html', '20240229-191536-CodeSystem-medikationdarreichungsform.html')" href="javascript:void(0);">Diff</a></td></tr>
</table>