<table class="grid">

<tr><td><b>Version Number</b></td><td><b>Current Version vs. Outdated Version</b></td></tr>

<tr><td><a href="20220221-132304-CodeSystem-elga-auditsourcetype.html">202105</a></td><td><a onclick="createDiff('CodeSystem-elga-auditsourcetype.html', '20220221-132304-CodeSystem-elga-auditsourcetype.html')" href="javascript:void(0);">Diff</a></td></tr>

<tr><td><a href="20230201-140131-CodeSystem-elga-auditsourcetype.html">202202</a></td><td><a onclick="createDiff('CodeSystem-elga-auditsourcetype.html', '20230201-140131-CodeSystem-elga-auditsourcetype.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20240130-160446-CodeSystem-elga-auditsourcetype.html">1.0.0+20230131</a></td><td><a onclick="createDiff('CodeSystem-elga-auditsourcetype.html', '20240130-160446-CodeSystem-elga-auditsourcetype.html')" href="javascript:void(0);">Diff</a></td></tr>
</table>