<table class="grid">

<tr><td><b>Version Number</b></td><td><b>Current Version vs. Outdated Version</b></td></tr>

<tr><td><a href="20220202-122156-CodeSystem-medikationartanwendung.html">20211022</a></td><td><a onclick="createDiff('CodeSystem-medikationartanwendung.html', '20220202-122156-CodeSystem-medikationartanwendung.html')" href="javascript:void(0);">Diff</a></td></tr>

<tr><td><a href="20230201-140131-CodeSystem-medikationartanwendung.html">20211126</a></td><td><a onclick="createDiff('CodeSystem-medikationartanwendung.html', '20230201-140131-CodeSystem-medikationartanwendung.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20230509-103337-CodeSystem-medikationartanwendung.html">1.0.0+20230131</a></td><td><a onclick="createDiff('CodeSystem-medikationartanwendung.html', '20230509-103337-CodeSystem-medikationartanwendung.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20230727-141059-CodeSystem-medikationartanwendung.html">1.1.0+20230425</a></td><td><a onclick="createDiff('CodeSystem-medikationartanwendung.html', '20230727-141059-CodeSystem-medikationartanwendung.html')" href="javascript:void(0);">Diff</a></td></tr>
</table>