<table class="grid">

<tr><td><b>Version Number</b></td><td><b>Current Version vs. Outdated Version</b></td></tr>

<tr><td><a href="20220225-145328-CodeSystem-elga-laborparameterergaenzung.html">202112</a></td><td><a onclick="createDiff('CodeSystem-elga-laborparameterergaenzung.html', '20220225-145328-CodeSystem-elga-laborparameterergaenzung.html')" href="javascript:void(0);">Diff</a></td></tr>

<tr><td><a href="20220902-064916-CodeSystem-elga-laborparameterergaenzung.html">202202</a></td><td><a onclick="createDiff('CodeSystem-elga-laborparameterergaenzung.html', '20220902-064916-CodeSystem-elga-laborparameterergaenzung.html')" href="javascript:void(0);">Diff</a></td></tr>

<tr><td><a href="20230201-140131-CodeSystem-elga-laborparameterergaenzung.html">202209</a></td><td><a onclick="createDiff('CodeSystem-elga-laborparameterergaenzung.html', '20230201-140131-CodeSystem-elga-laborparameterergaenzung.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20230308-204439-CodeSystem-elga-laborparameterergaenzung.html">1.0.0+20230131</a></td><td><a onclick="createDiff('CodeSystem-elga-laborparameterergaenzung.html', '20230308-204439-CodeSystem-elga-laborparameterergaenzung.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20230904-140645-CodeSystem-elga-laborparameterergaenzung.html">1.1.0+20230303</a></td><td><a onclick="createDiff('CodeSystem-elga-laborparameterergaenzung.html', '20230904-140645-CodeSystem-elga-laborparameterergaenzung.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20240130-160446-CodeSystem-elga-laborparameterergaenzung.html">1.2.0+20230831</a></td><td><a onclick="createDiff('CodeSystem-elga-laborparameterergaenzung.html', '20240130-160446-CodeSystem-elga-laborparameterergaenzung.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20240327-094955-CodeSystem-elga-laborparameterergaenzung.html">1.2.1+20240129</a></td><td><a onclick="createDiff('CodeSystem-elga-laborparameterergaenzung.html', '20240327-094955-CodeSystem-elga-laborparameterergaenzung.html')" href="javascript:void(0);">Diff</a></td></tr>
</table>