<table class="grid">
<tr><td><b>Version Number</b></td><td><b>Current Version vs. Outdated Version</b></td></tr>
<tr><td><a href="20240416-151043-CodeSystem-bmg-icd-10-2022.html">1.0.0+20230228</a></td><td><a onclick="createDiff('CodeSystem-bmg-icd-10-2022.html', '20240416-151043-CodeSystem-bmg-icd-10-2022.html')" href="javascript:void(0);">Diff</a></td></tr>
</table>