<table class="grid">

<tr><td><b>Version Number</b></td><td><b>Current Version vs. Outdated Version</b></td></tr>

<tr><td><a href="20230201-140131-CodeSystem-ips-conditionclinicalstatuscodes.html">202005</a></td><td><a onclick="createDiff('CodeSystem-ips-conditionclinicalstatuscodes.html', '20230201-140131-CodeSystem-ips-conditionclinicalstatuscodes.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20240130-160446-CodeSystem-ips-conditionclinicalstatuscodes.html">1.0.0+20230131</a></td><td><a onclick="createDiff('CodeSystem-ips-conditionclinicalstatuscodes.html', '20240130-160446-CodeSystem-ips-conditionclinicalstatuscodes.html')" href="javascript:void(0);">Diff</a></td></tr>
</table>