<table class="grid">

<tr><td><b>Version Number</b></td><td><b>Current Version vs. Outdated Version</b></td></tr>

<tr><td><a href="20230201-140131-CodeSystem-elga-patienten-identifizierungsmethoden.html">202105</a></td><td><a onclick="createDiff('CodeSystem-elga-patienten-identifizierungsmethoden.html', '20230201-140131-CodeSystem-elga-patienten-identifizierungsmethoden.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20240130-160446-CodeSystem-elga-patienten-identifizierungsmethoden.html">1.0.0+20230131</a></td><td><a onclick="createDiff('CodeSystem-elga-patienten-identifizierungsmethoden.html', '20240130-160446-CodeSystem-elga-patienten-identifizierungsmethoden.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20240214-142604-CodeSystem-elga-patienten-identifizierungsmethoden.html">1.0.1+20240129</a></td><td><a onclick="createDiff('CodeSystem-elga-patienten-identifizierungsmethoden.html', '20240214-142604-CodeSystem-elga-patienten-identifizierungsmethoden.html')" href="javascript:void(0);">Diff</a></td></tr>
</table>