<table class="grid">

<tr><td><b>Version Number</b></td><td><b>Current Version vs. Outdated Version</b></td></tr>

<tr><td><a href="20221103-095445-CodeSystem-eimpf-historischeimpfstoffe.html">202111</a></td><td><a onclick="createDiff('CodeSystem-eimpf-historischeimpfstoffe.html', '20221103-095445-CodeSystem-eimpf-historischeimpfstoffe.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20230201-140131-CodeSystem-eimpf-historischeimpfstoffe.html">1.0.0+20221103</a></td><td><a onclick="createDiff('CodeSystem-eimpf-historischeimpfstoffe.html', '20230201-140131-CodeSystem-eimpf-historischeimpfstoffe.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20230829-101848-CodeSystem-eimpf-historischeimpfstoffe.html">2.0.0+20230131</a></td><td><a onclick="createDiff('CodeSystem-eimpf-historischeimpfstoffe.html', '20230829-101848-CodeSystem-eimpf-historischeimpfstoffe.html')" href="javascript:void(0);">Diff</a></td></tr>
</table>