<table class="grid">

<tr><td><b>Version Number</b></td><td><b>Current Version vs. Outdated Version</b></td></tr>

<tr><td><a href="20220902-064916-CodeSystem-elga-gda-aggregatrollen.html">202107</a></td><td><a onclick="createDiff('CodeSystem-elga-gda-aggregatrollen.html', '20220902-064916-CodeSystem-elga-gda-aggregatrollen.html')" href="javascript:void(0);">Diff</a></td></tr>

<tr><td><a href="20221221-065049-CodeSystem-elga-gda-aggregatrollen.html">202209</a></td><td><a onclick="createDiff('CodeSystem-elga-gda-aggregatrollen.html', '20221221-065049-CodeSystem-elga-gda-aggregatrollen.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20230201-140131-CodeSystem-elga-gda-aggregatrollen.html">1.0.0+20221220</a></td><td><a onclick="createDiff('CodeSystem-elga-gda-aggregatrollen.html', '20230201-140131-CodeSystem-elga-gda-aggregatrollen.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20240130-160446-CodeSystem-elga-gda-aggregatrollen.html">2.0.0+20230131</a></td><td><a onclick="createDiff('CodeSystem-elga-gda-aggregatrollen.html', '20240130-160446-CodeSystem-elga-gda-aggregatrollen.html')" href="javascript:void(0);">Diff</a></td></tr>
</table>