<table class="grid">

<tr><td><b>Version Number</b></td><td><b>Current Version vs. Outdated Version</b></td></tr>

<tr><td><a href="20220202-122156-CodeSystem-asp-liste.html">Liste der humanen Arzneispezialitäten gelistet nach PZN 20211223</a></td><td><a onclick="createDiff('CodeSystem-asp-liste.html', '20220202-122156-CodeSystem-asp-liste.html')" href="javascript:void(0);">Diff</a></td></tr>

<tr><td><a href="20220224-135236-CodeSystem-asp-liste.html">Liste der humanen Arzneispezialitäten gelistet nach PZN 20220125</a></td><td><a onclick="createDiff('CodeSystem-asp-liste.html', '20220224-135236-CodeSystem-asp-liste.html')" href="javascript:void(0);">Diff</a></td></tr>

<tr><td><a href="20220330-070709-CodeSystem-asp-liste.html">Liste der humanen Arzneispezialitäten gelistet nach PZN 20220224</a></td><td><a onclick="createDiff('CodeSystem-asp-liste.html', '20220330-070709-CodeSystem-asp-liste.html')" href="javascript:void(0);">Diff</a></td></tr>

<tr><td><a href="20220413-112208-CodeSystem-asp-liste.html">Liste der humanen Arzneispezialitäten gelistet nach PZN 20220329</a></td><td><a onclick="createDiff('CodeSystem-asp-liste.html', '20220413-112208-CodeSystem-asp-liste.html')" href="javascript:void(0);">Diff</a></td></tr>

<tr><td><a href="20220422-132728-CodeSystem-asp-liste.html">Liste der humanen Arzneispezialitäten gelistet nach PZN 20220420</a></td><td><a onclick="createDiff('CodeSystem-asp-liste.html', '20220422-132728-CodeSystem-asp-liste.html')" href="javascript:void(0);">Diff</a></td></tr>

<tr><td><a href="20220519-101607-CodeSystem-asp-liste.html">Liste der humanen Arzneispezialitäten gelistet nach PZN 20220427</a></td><td><a onclick="createDiff('CodeSystem-asp-liste.html', '20220519-101607-CodeSystem-asp-liste.html')" href="javascript:void(0);">Diff</a></td></tr>

<tr><td><a href="20220614-103125-CodeSystem-asp-liste.html">Liste der humanen Arzneispezialitäten gelistet nach PZN 20220525</a></td><td><a onclick="createDiff('CodeSystem-asp-liste.html', '20220614-103125-CodeSystem-asp-liste.html')" href="javascript:void(0);">Diff</a></td></tr>

<tr><td><a href="20220726-072141-CodeSystem-asp-liste.html">Liste der humanen Arzneispezialitäten gelistet nach PZN 20220621</a></td><td><a onclick="createDiff('CodeSystem-asp-liste.html', '20220726-072141-CodeSystem-asp-liste.html')" href="javascript:void(0);">Diff</a></td></tr>

<tr><td><a href="20220729-091145-CodeSystem-asp-liste.html">Liste der humanen Arzneispezialitäten gelistet nach PZN 20220725</a></td><td><a onclick="createDiff('CodeSystem-asp-liste.html', '20220729-091145-CodeSystem-asp-liste.html')" href="javascript:void(0);">Diff</a></td></tr>

<tr><td><a href="20220823-131709-CodeSystem-asp-liste.html">Liste der humanen Arzneispezialitäten gelistet nach PZN 20220729</a></td><td><a onclick="createDiff('CodeSystem-asp-liste.html', '20220823-131709-CodeSystem-asp-liste.html')" href="javascript:void(0);">Diff</a></td></tr>

<tr><td><a href="20220929-094247-CodeSystem-asp-liste.html">Liste der humanen Arzneispezialitäten gelistet nach PZN 20220825</a></td><td><a onclick="createDiff('CodeSystem-asp-liste.html', '20220929-094247-CodeSystem-asp-liste.html')" href="javascript:void(0);">Diff</a></td></tr>

<tr><td><a href="20221018-124853-CodeSystem-asp-liste.html">Liste der humanen Arzneispezialitäten gelistet nach PZN 20220930</a></td><td><a onclick="createDiff('CodeSystem-asp-liste.html', '20221018-124853-CodeSystem-asp-liste.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20221028-063602-CodeSystem-asp-liste.html">1.0.0+20221018</a></td><td><a onclick="createDiff('CodeSystem-asp-liste.html', '20221028-063602-CodeSystem-asp-liste.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20221123-121846-CodeSystem-asp-liste.html">1.1.0+20221027</a></td><td><a onclick="createDiff('CodeSystem-asp-liste.html', '20221123-121846-CodeSystem-asp-liste.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20221128-134846-CodeSystem-asp-liste.html">1.1.1+20221123</a></td><td><a onclick="createDiff('CodeSystem-asp-liste.html', '20221128-134846-CodeSystem-asp-liste.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20221222-142142-CodeSystem-asp-liste.html">1.2.0+20221128</a></td><td><a onclick="createDiff('CodeSystem-asp-liste.html', '20221222-142142-CodeSystem-asp-liste.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20221222-161217-CodeSystem-asp-liste.html">1.2.0+20221128</a></td><td><a onclick="createDiff('CodeSystem-asp-liste.html', '20221222-161217-CodeSystem-asp-liste.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20230127-091755-CodeSystem-asp-liste.html">1.3.0+20221222</a></td><td><a onclick="createDiff('CodeSystem-asp-liste.html', '20230127-091755-CodeSystem-asp-liste.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20230201-140131-CodeSystem-asp-liste.html">1.4.0+20230126</a></td><td><a onclick="createDiff('CodeSystem-asp-liste.html', '20230201-140131-CodeSystem-asp-liste.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20230227-053007-CodeSystem-asp-liste.html">2.0.0+20230131</a></td><td><a onclick="createDiff('CodeSystem-asp-liste.html', '20230227-053007-CodeSystem-asp-liste.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20230329-082942-CodeSystem-asp-liste.html">2.1.0+20230224</a></td><td><a onclick="createDiff('CodeSystem-asp-liste.html', '20230329-082942-CodeSystem-asp-liste.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20230509-103337-CodeSystem-asp-liste.html">2.2.0+20230322</a></td><td><a onclick="createDiff('CodeSystem-asp-liste.html', '20230509-103337-CodeSystem-asp-liste.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20230526-065755-CodeSystem-asp-liste.html">2.3.0+20230425</a></td><td><a onclick="createDiff('CodeSystem-asp-liste.html', '20230526-065755-CodeSystem-asp-liste.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20230623-090409-CodeSystem-asp-liste.html">2.4.0+20230523</a></td><td><a onclick="createDiff('CodeSystem-asp-liste.html', '20230623-090409-CodeSystem-asp-liste.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20230727-141059-CodeSystem-asp-liste.html">2.5.0+20230623</a></td><td><a onclick="createDiff('CodeSystem-asp-liste.html', '20230727-141059-CodeSystem-asp-liste.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20230828-122115-CodeSystem-asp-liste.html">2.6.0+20230724</a></td><td><a onclick="createDiff('CodeSystem-asp-liste.html', '20230828-122115-CodeSystem-asp-liste.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20230906-140808-CodeSystem-asp-liste.html">2.7.1+20230828</a></td><td><a onclick="createDiff('CodeSystem-asp-liste.html', '20230906-140808-CodeSystem-asp-liste.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20230927-153734-CodeSystem-asp-liste.html">2.8.0+20230905</a></td><td><a onclick="createDiff('CodeSystem-asp-liste.html', '20230927-153734-CodeSystem-asp-liste.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20231030-135826-CodeSystem-asp-liste.html">2.9.0+20230922</a></td><td><a onclick="createDiff('CodeSystem-asp-liste.html', '20231030-135826-CodeSystem-asp-liste.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20231031-064644-CodeSystem-asp-liste.html">2.9.0+20230922</a></td><td><a onclick="createDiff('CodeSystem-asp-liste.html', '20231031-064644-CodeSystem-asp-liste.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20231031-192025-CodeSystem-asp-liste.html">2.10.0+20231023</a></td><td><a onclick="createDiff('CodeSystem-asp-liste.html', '20231031-192025-CodeSystem-asp-liste.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20231130-125147-CodeSystem-asp-liste.html">2.11.0+20231031</a></td><td><a onclick="createDiff('CodeSystem-asp-liste.html', '20231130-125147-CodeSystem-asp-liste.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20231207-115958-CodeSystem-asp-liste.html">2.12.0+20231123</a></td><td><a onclick="createDiff('CodeSystem-asp-liste.html', '20231207-115958-CodeSystem-asp-liste.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20231227-114624-CodeSystem-asp-liste.html">2.13.0+20231206</a></td><td><a onclick="createDiff('CodeSystem-asp-liste.html', '20231227-114624-CodeSystem-asp-liste.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20240130-160446-CodeSystem-asp-liste.html">2.14.0+20231220</a></td><td><a onclick="createDiff('CodeSystem-asp-liste.html', '20240130-160446-CodeSystem-asp-liste.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20240229-191536-CodeSystem-asp-liste.html">2.15.0+20240125</a></td><td><a onclick="createDiff('CodeSystem-asp-liste.html', '20240229-191536-CodeSystem-asp-liste.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20240328-113824-CodeSystem-asp-liste.html">2.16.0+20240226</a></td><td><a onclick="createDiff('CodeSystem-asp-liste.html', '20240328-113824-CodeSystem-asp-liste.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20240405-115955-CodeSystem-asp-liste.html">2.17.0+20240326</a></td><td><a onclick="createDiff('CodeSystem-asp-liste.html', '20240405-115955-CodeSystem-asp-liste.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20240429-152854-CodeSystem-asp-liste.html">2.18.0+20240404</a></td><td><a onclick="createDiff('CodeSystem-asp-liste.html', '20240429-152854-CodeSystem-asp-liste.html')" href="javascript:void(0);">Diff</a></td></tr>
</table>