<table class="grid">
<tr><td><b>Version Number</b></td><td><b>Current Version vs. Outdated Version</b></td></tr>
<tr><td><a href="20230524-060824-CodeSystem-ehdsi-edqm-auszug.html">1.0.0+20230505</a></td><td><a onclick="createDiff('CodeSystem-ehdsi-edqm-auszug.html', '20230524-060824-CodeSystem-ehdsi-edqm-auszug.html')" href="javascript:void(0);">Diff</a></td></tr>
</table>