<table class="grid">

<tr><td><b>Version Number</b></td><td><b>Current Version vs. Outdated Version</b></td></tr>

<tr><td><a href="20230201-140131-CodeSystem-icd-10-bmg-2020.html">Version 2020</a></td><td><a onclick="createDiff('CodeSystem-icd-10-bmg-2020.html', '20230201-140131-CodeSystem-icd-10-bmg-2020.html')" href="javascript:void(0);">Diff</a></td></tr>
</table>