<table class="grid">

<tr><td><b>Version Number</b></td><td><b>Current Version vs. Outdated Version</b></td></tr>

<tr><td><a href="20230201-140131-CodeSystem-appc-modalitaet.html">202008</a></td><td><a onclick="createDiff('CodeSystem-appc-modalitaet.html', '20230201-140131-CodeSystem-appc-modalitaet.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20230928-094032-CodeSystem-appc-modalitaet.html">1.0.0+20230131</a></td><td><a onclick="createDiff('CodeSystem-appc-modalitaet.html', '20230928-094032-CodeSystem-appc-modalitaet.html')" href="javascript:void(0);">Diff</a></td></tr>
</table>