<table class="grid">

<tr><td><b>Version Number</b></td><td><b>Current Version vs. Outdated Version</b></td></tr>

<tr><td><a href="20230201-140131-CodeSystem-hl7-confidentiality-code.html">202008</a></td><td><a onclick="createDiff('CodeSystem-hl7-confidentiality-code.html', '20230201-140131-CodeSystem-hl7-confidentiality-code.html')" href="javascript:void(0);">Diff</a></td></tr>
</table>