<table class="grid">

<tr><td><b>Version Number</b></td><td><b>Current Version vs. Outdated Version</b></td></tr>

<tr><td><a href="20221207-084429-CodeSystem-iana-mime-type.html"></a></td><td><a onclick="createDiff('CodeSystem-iana-mime-type.html', '20221207-084429-CodeSystem-iana-mime-type.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20230201-140131-CodeSystem-iana-mime-type.html">1.0.0+20130110</a></td><td><a onclick="createDiff('CodeSystem-iana-mime-type.html', '20230201-140131-CodeSystem-iana-mime-type.html')" href="javascript:void(0);">Diff</a></td></tr>
</table>