<table class="grid">
<tr><td><b>Version Number</b></td><td><b>Current Version vs. Outdated Version</b></td></tr>
<tr><td><a href="20230727-141059-CodeSystem-medikationpackaging.html">1.0.0+20230425</a></td><td><a onclick="createDiff('CodeSystem-medikationpackaging.html', '20230727-141059-CodeSystem-medikationpackaging.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20231030-135826-CodeSystem-medikationpackaging.html">1.0.0+20230724</a></td><td><a onclick="createDiff('CodeSystem-medikationpackaging.html', '20231030-135826-CodeSystem-medikationpackaging.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20231031-064644-CodeSystem-medikationpackaging.html">1.0.0+20230724</a></td><td><a onclick="createDiff('CodeSystem-medikationpackaging.html', '20231031-064644-CodeSystem-medikationpackaging.html')" href="javascript:void(0);">Diff</a></td></tr>
</table>