<table class="grid">

<tr><td><b>Version Number</b></td><td><b>Current Version vs. Outdated Version</b></td></tr>

<tr><td><a href="20221221-065049-CodeSystem-elga-e-health-anwendungen.html">202105</a></td><td><a onclick="createDiff('CodeSystem-elga-e-health-anwendungen.html', '20221221-065049-CodeSystem-elga-e-health-anwendungen.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20230201-140131-CodeSystem-elga-e-health-anwendungen.html">1.0.0+20221220</a></td><td><a onclick="createDiff('CodeSystem-elga-e-health-anwendungen.html', '20230201-140131-CodeSystem-elga-e-health-anwendungen.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20240130-160446-CodeSystem-elga-e-health-anwendungen.html">2.0.0+20230131</a></td><td><a onclick="createDiff('CodeSystem-elga-e-health-anwendungen.html', '20240130-160446-CodeSystem-elga-e-health-anwendungen.html')" href="javascript:void(0);">Diff</a></td></tr>
</table>