<table class="grid">
<tr><td><b>Version Number</b></td><td><b>Current Version vs. Outdated Version</b></td></tr>
<tr><td><a href="20240416-151043-CodeSystem-bmg-lkf-2024.html">1.0.0+20231220</a></td><td><a onclick="createDiff('CodeSystem-bmg-lkf-2024.html', '20240416-151043-CodeSystem-bmg-lkf-2024.html')" href="javascript:void(0);">Diff</a></td></tr>
</table>