<table class="grid">

<tr><td><b>Version Number</b></td><td><b>Current Version vs. Outdated Version</b></td></tr>

<tr><td><a href="20230201-140131-CodeSystem-elga-fachaerzte.html">3.0</a></td><td><a onclick="createDiff('CodeSystem-elga-fachaerzte.html', '20230201-140131-CodeSystem-elga-fachaerzte.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20230622-115829-CodeSystem-elga-fachaerzte.html">1.0.0+20230131</a></td><td><a onclick="createDiff('CodeSystem-elga-fachaerzte.html', '20230622-115829-CodeSystem-elga-fachaerzte.html')" href="javascript:void(0);">Diff</a></td></tr>
</table>