<table class="grid">

<tr><td><b>Version Number</b></td><td><b>Current Version vs. Outdated Version</b></td></tr>

<tr><td><a href="20230201-140131-CodeSystem-icd-o-3.html">2019</a></td><td><a onclick="createDiff('CodeSystem-icd-o-3.html', '20230201-140131-CodeSystem-icd-o-3.html')" href="javascript:void(0);">Diff</a></td></tr>
</table>