<table class="grid">

<tr><td><b>Version Number</b></td><td><b>Current Version vs. Outdated Version</b></td></tr>

<tr><td><a href="20220202-122156-ValueSet-dgc-medicinalproduct.html">202112.1</a></td><td><a onclick="createDiff('ValueSet-dgc-medicinalproduct.html', '20220202-122156-ValueSet-dgc-medicinalproduct.html')" href="javascript:void(0);">Diff</a></td></tr>

<tr><td><a href="20220202-142407-ValueSet-dgc-medicinalproduct.html">202201</a></td><td><a onclick="createDiff('ValueSet-dgc-medicinalproduct.html', '20220202-142407-ValueSet-dgc-medicinalproduct.html')" href="javascript:void(0);">Diff</a></td></tr>

<tr><td><a href="20220614-103125-ValueSet-dgc-medicinalproduct.html">202201.1</a></td><td><a onclick="createDiff('ValueSet-dgc-medicinalproduct.html', '20220614-103125-ValueSet-dgc-medicinalproduct.html')" href="javascript:void(0);">Diff</a></td></tr>

<tr><td><a href="20220826-104653-ValueSet-dgc-medicinalproduct.html">202206</a></td><td><a onclick="createDiff('ValueSet-dgc-medicinalproduct.html', '20220826-104653-ValueSet-dgc-medicinalproduct.html')" href="javascript:void(0);">Diff</a></td></tr>

<tr><td><a href="20220912-073316-ValueSet-dgc-medicinalproduct.html">202208</a></td><td><a onclick="createDiff('ValueSet-dgc-medicinalproduct.html', '20220912-073316-ValueSet-dgc-medicinalproduct.html')" href="javascript:void(0);">Diff</a></td></tr>

<tr><td><a href="20221011-183608-ValueSet-dgc-medicinalproduct.html">202209</a></td><td><a onclick="createDiff('ValueSet-dgc-medicinalproduct.html', '20221011-183608-ValueSet-dgc-medicinalproduct.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20221117-175540-ValueSet-dgc-medicinalproduct.html">1.1.1+20221025</a></td><td><a onclick="createDiff('ValueSet-dgc-medicinalproduct.html', '20221117-175540-ValueSet-dgc-medicinalproduct.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20221129-010910-ValueSet-dgc-medicinalproduct.html">1.2.0+20221117</a></td><td><a onclick="createDiff('ValueSet-dgc-medicinalproduct.html', '20221129-010910-ValueSet-dgc-medicinalproduct.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20230127-112902-ValueSet-dgc-medicinalproduct.html">1.3.0+20221128</a></td><td><a onclick="createDiff('ValueSet-dgc-medicinalproduct.html', '20230127-112902-ValueSet-dgc-medicinalproduct.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20230201-140131-ValueSet-dgc-medicinalproduct.html">1.4.0+20230127</a></td><td><a onclick="createDiff('ValueSet-dgc-medicinalproduct.html', '20230201-140131-ValueSet-dgc-medicinalproduct.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20230802-090239-ValueSet-dgc-medicinalproduct.html">2.0.0+20230131</a></td><td><a onclick="createDiff('ValueSet-dgc-medicinalproduct.html', '20230802-090239-ValueSet-dgc-medicinalproduct.html')" href="javascript:void(0);">Diff</a></td></tr>
</table>