<table class="grid">

<tr><td><b>Version Number</b></td><td><b>Current Version vs. Outdated Version</b></td></tr>

<tr><td><a href="20230201-140131-ValueSet-eimpf-impfrelevanteerkrankung.html">202010.1</a></td><td><a onclick="createDiff('ValueSet-eimpf-impfrelevanteerkrankung.html', '20230201-140131-ValueSet-eimpf-impfrelevanteerkrankung.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20230803-135907-ValueSet-eimpf-impfrelevanteerkrankung.html">1.0.0+20230131</a></td><td><a onclick="createDiff('ValueSet-eimpf-impfrelevanteerkrankung.html', '20230803-135907-ValueSet-eimpf-impfrelevanteerkrankung.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20231016-111854-ValueSet-eimpf-impfrelevanteerkrankung.html">1.1.0+20230803</a></td><td><a onclick="createDiff('ValueSet-eimpf-impfrelevanteerkrankung.html', '20231016-111854-ValueSet-eimpf-impfrelevanteerkrankung.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20240325-134555-ValueSet-eimpf-impfrelevanteerkrankung.html">1.2.0+20231016</a></td><td><a onclick="createDiff('ValueSet-eimpf-impfrelevanteerkrankung.html', '20240325-134555-ValueSet-eimpf-impfrelevanteerkrankung.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20240417-103349-ValueSet-eimpf-impfrelevanteerkrankung.html">1.3.0+20240325</a></td><td><a onclick="createDiff('ValueSet-eimpf-impfrelevanteerkrankung.html', '20240417-103349-ValueSet-eimpf-impfrelevanteerkrankung.html')" href="javascript:void(0);">Diff</a></td></tr>
</table>