<table class="grid">
<tr><td><b>Version Number</b></td><td><b>Current Version vs. Outdated Version</b></td></tr>
<tr><td><a href="20240207-064935-ValueSet-eimpf-zusatzklassifikation-impfprogramm.html">1.0.0+20230803</a></td><td><a onclick="createDiff('ValueSet-eimpf-zusatzklassifikation-impfprogramm.html', '20240207-064935-ValueSet-eimpf-zusatzklassifikation-impfprogramm.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20240325-134555-ValueSet-eimpf-zusatzklassifikation-impfprogramm.html">1.1.0+20240201</a></td><td><a onclick="createDiff('ValueSet-eimpf-zusatzklassifikation-impfprogramm.html', '20240325-134555-ValueSet-eimpf-zusatzklassifikation-impfprogramm.html')" href="javascript:void(0);">Diff</a></td></tr>
</table>