<table class="grid">

<tr><td><b>Version Number</b></td><td><b>Current Version vs. Outdated Version</b></td></tr>

<tr><td><a href="20230201-140131-ValueSet-eimpf-specialsituationindication.html">1.0.0+20221107</a></td><td><a onclick="createDiff('ValueSet-eimpf-specialsituationindication.html', '20230201-140131-ValueSet-eimpf-specialsituationindication.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20230316-130558-ValueSet-eimpf-specialsituationindication.html">2.0.0+20230131</a></td><td><a onclick="createDiff('ValueSet-eimpf-specialsituationindication.html', '20230316-130558-ValueSet-eimpf-specialsituationindication.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20230803-135907-ValueSet-eimpf-specialsituationindication.html">2.1.0+20230316</a></td><td><a onclick="createDiff('ValueSet-eimpf-specialsituationindication.html', '20230803-135907-ValueSet-eimpf-specialsituationindication.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20240325-134555-ValueSet-eimpf-specialsituationindication.html">2.2.0+20230803</a></td><td><a onclick="createDiff('ValueSet-eimpf-specialsituationindication.html', '20240325-134555-ValueSet-eimpf-specialsituationindication.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20240412-075510-ValueSet-eimpf-specialsituationindication.html">2.3.0+20240325</a></td><td><a onclick="createDiff('ValueSet-eimpf-specialsituationindication.html', '20240412-075510-ValueSet-eimpf-specialsituationindication.html')" href="javascript:void(0);">Diff</a></td></tr>
</table>