<table class="grid">

<tr><td><b>Version Number</b></td><td><b>Current Version vs. Outdated Version</b></td></tr>

<tr><td><a href="20230201-140131-ValueSet-elga-problemkataloge.html">202003</a></td><td><a onclick="createDiff('ValueSet-elga-problemkataloge.html', '20230201-140131-ValueSet-elga-problemkataloge.html')" href="javascript:void(0);">Diff</a></td></tr>
</table>