<table class="grid">

<tr><td><b>Version Number</b></td><td><b>Current Version vs. Outdated Version</b></td></tr>

<tr><td><a href="20220202-122156-ValueSet-eimpf-impfstoffe.html">202112</a></td><td><a onclick="createDiff('ValueSet-eimpf-impfstoffe.html', '20220202-122156-ValueSet-eimpf-impfstoffe.html')" href="javascript:void(0);">Diff</a></td></tr>

<tr><td><a href="20220202-142407-ValueSet-eimpf-impfstoffe.html">202112.1</a></td><td><a onclick="createDiff('ValueSet-eimpf-impfstoffe.html', '20220202-142407-ValueSet-eimpf-impfstoffe.html')" href="javascript:void(0);">Diff</a></td></tr>

<tr><td><a href="20220224-135236-ValueSet-eimpf-impfstoffe.html">202201</a></td><td><a onclick="createDiff('ValueSet-eimpf-impfstoffe.html', '20220224-135236-ValueSet-eimpf-impfstoffe.html')" href="javascript:void(0);">Diff</a></td></tr>

<tr><td><a href="20220330-070709-ValueSet-eimpf-impfstoffe.html">202202</a></td><td><a onclick="createDiff('ValueSet-eimpf-impfstoffe.html', '20220330-070709-ValueSet-eimpf-impfstoffe.html')" href="javascript:void(0);">Diff</a></td></tr>

<tr><td><a href="20220422-132728-ValueSet-eimpf-impfstoffe.html">202203</a></td><td><a onclick="createDiff('ValueSet-eimpf-impfstoffe.html', '20220422-132728-ValueSet-eimpf-impfstoffe.html')" href="javascript:void(0);">Diff</a></td></tr>

<tr><td><a href="20220519-101607-ValueSet-eimpf-impfstoffe.html">202204</a></td><td><a onclick="createDiff('ValueSet-eimpf-impfstoffe.html', '20220519-101607-ValueSet-eimpf-impfstoffe.html')" href="javascript:void(0);">Diff</a></td></tr>

<tr><td><a href="20220623-121128-ValueSet-eimpf-impfstoffe.html">202205</a></td><td><a onclick="createDiff('ValueSet-eimpf-impfstoffe.html', '20220623-121128-ValueSet-eimpf-impfstoffe.html')" href="javascript:void(0);">Diff</a></td></tr>

<tr><td><a href="20220711-070113-ValueSet-eimpf-impfstoffe.html">202206</a></td><td><a onclick="createDiff('ValueSet-eimpf-impfstoffe.html', '20220711-070113-ValueSet-eimpf-impfstoffe.html')" href="javascript:void(0);">Diff</a></td></tr>

<tr><td><a href="20220726-072141-ValueSet-eimpf-impfstoffe.html">202207</a></td><td><a onclick="createDiff('ValueSet-eimpf-impfstoffe.html', '20220726-072141-ValueSet-eimpf-impfstoffe.html')" href="javascript:void(0);">Diff</a></td></tr>

<tr><td><a href="20220805-111350-ValueSet-eimpf-impfstoffe.html">202207.1</a></td><td><a onclick="createDiff('ValueSet-eimpf-impfstoffe.html', '20220805-111350-ValueSet-eimpf-impfstoffe.html')" href="javascript:void(0);">Diff</a></td></tr>

<tr><td><a href="20220823-131709-ValueSet-eimpf-impfstoffe.html">202208</a></td><td><a onclick="createDiff('ValueSet-eimpf-impfstoffe.html', '20220823-131709-ValueSet-eimpf-impfstoffe.html')" href="javascript:void(0);">Diff</a></td></tr>

<tr><td><a href="20220912-073316-ValueSet-eimpf-impfstoffe.html">202208.1</a></td><td><a onclick="createDiff('ValueSet-eimpf-impfstoffe.html', '20220912-073316-ValueSet-eimpf-impfstoffe.html')" href="javascript:void(0);">Diff</a></td></tr>

<tr><td><a href="20220929-094247-ValueSet-eimpf-impfstoffe.html">202209</a></td><td><a onclick="createDiff('ValueSet-eimpf-impfstoffe.html', '20220929-094247-ValueSet-eimpf-impfstoffe.html')" href="javascript:void(0);">Diff</a></td></tr>

<tr><td><a href="20221011-183608-ValueSet-eimpf-impfstoffe.html">202209</a></td><td><a onclick="createDiff('ValueSet-eimpf-impfstoffe.html', '20221011-183608-ValueSet-eimpf-impfstoffe.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20221117-175540-ValueSet-eimpf-impfstoffe.html">1.0.0+20221011</a></td><td><a onclick="createDiff('ValueSet-eimpf-impfstoffe.html', '20221117-175540-ValueSet-eimpf-impfstoffe.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20221124-093014-ValueSet-eimpf-impfstoffe.html">1.1.0+20221117</a></td><td><a onclick="createDiff('ValueSet-eimpf-impfstoffe.html', '20221124-093014-ValueSet-eimpf-impfstoffe.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20221129-010910-ValueSet-eimpf-impfstoffe.html">1.1.1+20221124</a></td><td><a onclick="createDiff('ValueSet-eimpf-impfstoffe.html', '20221129-010910-ValueSet-eimpf-impfstoffe.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20230127-112902-ValueSet-eimpf-impfstoffe.html">1.2.0+20221128</a></td><td><a onclick="createDiff('ValueSet-eimpf-impfstoffe.html', '20230127-112902-ValueSet-eimpf-impfstoffe.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20230201-140131-ValueSet-eimpf-impfstoffe.html">1.3.0+20230127</a></td><td><a onclick="createDiff('ValueSet-eimpf-impfstoffe.html', '20230201-140131-ValueSet-eimpf-impfstoffe.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20230227-082008-ValueSet-eimpf-impfstoffe.html">2.0.0+20230131</a></td><td><a onclick="createDiff('ValueSet-eimpf-impfstoffe.html', '20230227-082008-ValueSet-eimpf-impfstoffe.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20230802-090239-ValueSet-eimpf-impfstoffe.html">2.1.0+20230224</a></td><td><a onclick="createDiff('ValueSet-eimpf-impfstoffe.html', '20230802-090239-ValueSet-eimpf-impfstoffe.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20230828-122115-ValueSet-eimpf-impfstoffe.html">2.2.0+20230731</a></td><td><a onclick="createDiff('ValueSet-eimpf-impfstoffe.html', '20230828-122115-ValueSet-eimpf-impfstoffe.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20230906-140808-ValueSet-eimpf-impfstoffe.html">2.3.0+20230824</a></td><td><a onclick="createDiff('ValueSet-eimpf-impfstoffe.html', '20230906-140808-ValueSet-eimpf-impfstoffe.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20230927-153734-ValueSet-eimpf-impfstoffe.html">2.4.0+20230906</a></td><td><a onclick="createDiff('ValueSet-eimpf-impfstoffe.html', '20230927-153734-ValueSet-eimpf-impfstoffe.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20231130-125147-ValueSet-eimpf-impfstoffe.html">2.5.0+20230926</a></td><td><a onclick="createDiff('ValueSet-eimpf-impfstoffe.html', '20231130-125147-ValueSet-eimpf-impfstoffe.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20231207-115958-ValueSet-eimpf-impfstoffe.html">2.6.0+202301128</a></td><td><a onclick="createDiff('ValueSet-eimpf-impfstoffe.html', '20231207-115958-ValueSet-eimpf-impfstoffe.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20231227-114624-ValueSet-eimpf-impfstoffe.html">2.7.0+20231206</a></td><td><a onclick="createDiff('ValueSet-eimpf-impfstoffe.html', '20231227-114624-ValueSet-eimpf-impfstoffe.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20240325-134555-ValueSet-eimpf-impfstoffe.html">2.8.0+20231220</a></td><td><a onclick="createDiff('ValueSet-eimpf-impfstoffe.html', '20240325-134555-ValueSet-eimpf-impfstoffe.html')" href="javascript:void(0);">Diff</a></td></tr>
</table>