<table class="grid">
<tr><td><b>Version Number</b></td><td><b>Current Version vs. Outdated Version</b></td></tr>
<tr><td><a href="20240325-134555-ValueSet-hl7-at-administrativegender-v2.html">1.0.0+20231113</a></td><td><a onclick="createDiff('ValueSet-hl7-at-administrativegender-v2.html', '20240325-134555-ValueSet-hl7-at-administrativegender-v2.html')" href="javascript:void(0);">Diff</a></td></tr>
</table>