<table class="grid">

<tr><td><b>Version Number</b></td><td><b>Current Version vs. Outdated Version</b></td></tr>

<tr><td><a href="20230201-140131-ValueSet-eimpf-zusatzklassifikation.html">202110</a></td><td><a onclick="createDiff('ValueSet-eimpf-zusatzklassifikation.html', '20230201-140131-ValueSet-eimpf-zusatzklassifikation.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20230627-074000-ValueSet-eimpf-zusatzklassifikation.html">1.0.0+20230131</a></td><td><a onclick="createDiff('ValueSet-eimpf-zusatzklassifikation.html', '20230627-074000-ValueSet-eimpf-zusatzklassifikation.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20230804-081315-ValueSet-eimpf-zusatzklassifikation.html">1.1.0+20230626</a></td><td><a onclick="createDiff('ValueSet-eimpf-zusatzklassifikation.html', '20230804-081315-ValueSet-eimpf-zusatzklassifikation.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20230810-161003-ValueSet-eimpf-zusatzklassifikation.html">2.0.0+20230803</a></td><td><a onclick="createDiff('ValueSet-eimpf-zusatzklassifikation.html', '20230810-161003-ValueSet-eimpf-zusatzklassifikation.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20240207-064935-ValueSet-eimpf-zusatzklassifikation.html">3.0.0+20230808</a></td><td><a onclick="createDiff('ValueSet-eimpf-zusatzklassifikation.html', '20240207-064935-ValueSet-eimpf-zusatzklassifikation.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20240325-134555-ValueSet-eimpf-zusatzklassifikation.html">3.1.0+20240201</a></td><td><a onclick="createDiff('ValueSet-eimpf-zusatzklassifikation.html', '20240325-134555-ValueSet-eimpf-zusatzklassifikation.html')" href="javascript:void(0);">Diff</a></td></tr>
</table>