<table class="grid">

<tr><td><b>Version Number</b></td><td><b>Current Version vs. Outdated Version</b></td></tr>

<tr><td><a href="20230201-140131-ValueSet-eimpf-impfdosis.html">202111</a></td><td><a onclick="createDiff('ValueSet-eimpf-impfdosis.html', '20230201-140131-ValueSet-eimpf-impfdosis.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20240325-134555-ValueSet-eimpf-impfdosis.html">1.0.0+20230131</a></td><td><a onclick="createDiff('ValueSet-eimpf-impfdosis.html', '20240325-134555-ValueSet-eimpf-impfdosis.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20240411-180341-ValueSet-eimpf-impfdosis.html">1.1.0+20240325</a></td><td><a onclick="createDiff('ValueSet-eimpf-impfdosis.html', '20240411-180341-ValueSet-eimpf-impfdosis.html')" href="javascript:void(0);">Diff</a></td></tr>
</table>