<table class="grid">

<tr><td><b>Version Number</b></td><td><b>Current Version vs. Outdated Version</b></td></tr>

<tr><td><a href="20230201-140131-ValueSet-appc-anatomie.html">1.0.10a</a></td><td><a onclick="createDiff('ValueSet-appc-anatomie.html', '20230201-140131-ValueSet-appc-anatomie.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20230928-094032-ValueSet-appc-anatomie.html">1.0.0+20230131</a></td><td><a onclick="createDiff('ValueSet-appc-anatomie.html', '20230928-094032-ValueSet-appc-anatomie.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20240325-134555-ValueSet-appc-anatomie.html">1.0.1+20230925</a></td><td><a onclick="createDiff('ValueSet-appc-anatomie.html', '20240325-134555-ValueSet-appc-anatomie.html')" href="javascript:void(0);">Diff</a></td></tr>
</table>