<table class="grid">

<tr><td><b>Version Number</b></td><td><b>Current Version vs. Outdated Version</b></td></tr>

<tr><td><a href="20230201-140131-ValueSet-elga-auditeventtype-a-arr.html">202005</a></td><td><a onclick="createDiff('ValueSet-elga-auditeventtype-a-arr.html', '20230201-140131-ValueSet-elga-auditeventtype-a-arr.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20230607-134908-ValueSet-elga-auditeventtype-a-arr.html">1.0.0+20230131</a></td><td><a onclick="createDiff('ValueSet-elga-auditeventtype-a-arr.html', '20230607-134908-ValueSet-elga-auditeventtype-a-arr.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20230622-092948-ValueSet-elga-auditeventtype-a-arr.html">1.1.0+20230522</a></td><td><a onclick="createDiff('ValueSet-elga-auditeventtype-a-arr.html', '20230622-092948-ValueSet-elga-auditeventtype-a-arr.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20230703-123409-ValueSet-elga-auditeventtype-a-arr.html">1.2.0+20230622</a></td><td><a onclick="createDiff('ValueSet-elga-auditeventtype-a-arr.html', '20230703-123409-ValueSet-elga-auditeventtype-a-arr.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20240130-160446-ValueSet-elga-auditeventtype-a-arr.html">1.3.0+20230628</a></td><td><a onclick="createDiff('ValueSet-elga-auditeventtype-a-arr.html', '20240130-160446-ValueSet-elga-auditeventtype-a-arr.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20240325-134555-ValueSet-elga-auditeventtype-a-arr.html">1.3.1+20240129</a></td><td><a onclick="createDiff('ValueSet-elga-auditeventtype-a-arr.html', '20240325-134555-ValueSet-elga-auditeventtype-a-arr.html')" href="javascript:void(0);">Diff</a></td></tr>
</table>