<table class="grid">

<tr><td><b>Version Number</b></td><td><b>Current Version vs. Outdated Version</b></td></tr>

<tr><td><a href="20220225-145328-ValueSet-elga-laborparameter.html">202112</a></td><td><a onclick="createDiff('ValueSet-elga-laborparameter.html', '20220225-145328-ValueSet-elga-laborparameter.html')" href="javascript:void(0);">Diff</a></td></tr>

<tr><td><a href="20220902-064916-ValueSet-elga-laborparameter.html">202202</a></td><td><a onclick="createDiff('ValueSet-elga-laborparameter.html', '20220902-064916-ValueSet-elga-laborparameter.html')" href="javascript:void(0);">Diff</a></td></tr>

<tr><td><a href="20230201-140131-ValueSet-elga-laborparameter.html">202209</a></td><td><a onclick="createDiff('ValueSet-elga-laborparameter.html', '20230201-140131-ValueSet-elga-laborparameter.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20230308-204439-ValueSet-elga-laborparameter.html">1.0.0+20230131</a></td><td><a onclick="createDiff('ValueSet-elga-laborparameter.html', '20230308-204439-ValueSet-elga-laborparameter.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20230802-090239-ValueSet-elga-laborparameter.html">1.1.0+20230303</a></td><td><a onclick="createDiff('ValueSet-elga-laborparameter.html', '20230802-090239-ValueSet-elga-laborparameter.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20230904-140645-ValueSet-elga-laborparameter.html">1.2.0+20230731</a></td><td><a onclick="createDiff('ValueSet-elga-laborparameter.html', '20230904-140645-ValueSet-elga-laborparameter.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20231123-091652-ValueSet-elga-laborparameter.html">1.3.0+20230831</a></td><td><a onclick="createDiff('ValueSet-elga-laborparameter.html', '20231123-091652-ValueSet-elga-laborparameter.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20240130-160446-ValueSet-elga-laborparameter.html">1.4.0+20231121</a></td><td><a onclick="createDiff('ValueSet-elga-laborparameter.html', '20240130-160446-ValueSet-elga-laborparameter.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20240325-134555-ValueSet-elga-laborparameter.html">1.4.1+20240129</a></td><td><a onclick="createDiff('ValueSet-elga-laborparameter.html', '20240325-134555-ValueSet-elga-laborparameter.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20240327-094955-ValueSet-elga-laborparameter.html">1.5.0+20240325</a></td><td><a onclick="createDiff('ValueSet-elga-laborparameter.html', '20240327-094955-ValueSet-elga-laborparameter.html')" href="javascript:void(0);">Diff</a></td></tr>
</table>