<table class="grid">
<tr><td><b>Version Number</b></td><td><b>Current Version vs. Outdated Version</b></td></tr>
<tr><td><a href="20231016-111854-ValueSet-atcdabbr-noinformationqualifier.html">1.0.0+20200508</a></td><td><a onclick="createDiff('ValueSet-atcdabbr-noinformationqualifier.html', '20231016-111854-ValueSet-atcdabbr-noinformationqualifier.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20240325-134555-ValueSet-atcdabbr-noinformationqualifier.html">1.1.0+20231016</a></td><td><a onclick="createDiff('ValueSet-atcdabbr-noinformationqualifier.html', '20240325-134555-ValueSet-atcdabbr-noinformationqualifier.html')" href="javascript:void(0);">Diff</a></td></tr>
</table>