<table class="grid">

<tr><td><b>Version Number</b></td><td><b>Current Version vs. Outdated Version</b></td></tr>

<tr><td><a href="20230201-140131-ValueSet-elga-authorspeciality.html">202009</a></td><td><a onclick="createDiff('ValueSet-elga-authorspeciality.html', '20230201-140131-ValueSet-elga-authorspeciality.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20230622-115829-ValueSet-elga-authorspeciality.html">1.0.0+20230131</a></td><td><a onclick="createDiff('ValueSet-elga-authorspeciality.html', '20230622-115829-ValueSet-elga-authorspeciality.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20231212-141024-ValueSet-elga-authorspeciality.html">1.1.0+20230622</a></td><td><a onclick="createDiff('ValueSet-elga-authorspeciality.html', '20231212-141024-ValueSet-elga-authorspeciality.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20240130-160446-ValueSet-elga-authorspeciality.html">1.2.0+20231211</a></td><td><a onclick="createDiff('ValueSet-elga-authorspeciality.html', '20240130-160446-ValueSet-elga-authorspeciality.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20240325-134555-ValueSet-elga-authorspeciality.html">1.2.1+20240129</a></td><td><a onclick="createDiff('ValueSet-elga-authorspeciality.html', '20240325-134555-ValueSet-elga-authorspeciality.html')" href="javascript:void(0);">Diff</a></td></tr>
</table>