<table class="grid">

<tr><td><b>Version Number</b></td><td><b>Current Version vs. Outdated Version</b></td></tr>

<tr><td><a href="20230201-140131-ValueSet-elga-probenmaterial.html">202108</a></td><td><a onclick="createDiff('ValueSet-elga-probenmaterial.html', '20230201-140131-ValueSet-elga-probenmaterial.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20230802-090239-ValueSet-elga-probenmaterial.html">1.0.0+20230131</a></td><td><a onclick="createDiff('ValueSet-elga-probenmaterial.html', '20230802-090239-ValueSet-elga-probenmaterial.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20231212-141024-ValueSet-elga-probenmaterial.html">1.1.0+20230802</a></td><td><a onclick="createDiff('ValueSet-elga-probenmaterial.html', '20231212-141024-ValueSet-elga-probenmaterial.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20240325-134555-ValueSet-elga-probenmaterial.html">1.2.0+20231211</a></td><td><a onclick="createDiff('ValueSet-elga-probenmaterial.html', '20240325-134555-ValueSet-elga-probenmaterial.html')" href="javascript:void(0);">Diff</a></td></tr>
</table>