<table class="grid">

<tr><td><b>Version Number</b></td><td><b>Current Version vs. Outdated Version</b></td></tr>

<tr><td><a href="20221121-135945-ValueSet-hl7-at-xds-dokumentenklassen.html">202110</a></td><td><a onclick="createDiff('ValueSet-hl7-at-xds-dokumentenklassen.html', '20221121-135945-ValueSet-hl7-at-xds-dokumentenklassen.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20230201-140131-ValueSet-hl7-at-xds-dokumentenklassen.html">1.0.0+20221121</a></td><td><a onclick="createDiff('ValueSet-hl7-at-xds-dokumentenklassen.html', '20230201-140131-ValueSet-hl7-at-xds-dokumentenklassen.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20230301-075050-ValueSet-hl7-at-xds-dokumentenklassen.html">2.0.0+20230131</a></td><td><a onclick="createDiff('ValueSet-hl7-at-xds-dokumentenklassen.html', '20230301-075050-ValueSet-hl7-at-xds-dokumentenklassen.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20240325-134555-ValueSet-hl7-at-xds-dokumentenklassen.html">2.1.0+20230228</a></td><td><a onclick="createDiff('ValueSet-hl7-at-xds-dokumentenklassen.html', '20240325-134555-ValueSet-hl7-at-xds-dokumentenklassen.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20240408-104913-ValueSet-hl7-at-xds-dokumentenklassen.html">2.2.0+20240325</a></td><td><a onclick="createDiff('ValueSet-hl7-at-xds-dokumentenklassen.html', '20240408-104913-ValueSet-hl7-at-xds-dokumentenklassen.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20240410-135420-ValueSet-hl7-at-xds-dokumentenklassen.html">2.3.0+20240408</a></td><td><a onclick="createDiff('ValueSet-hl7-at-xds-dokumentenklassen.html', '20240410-135420-ValueSet-hl7-at-xds-dokumentenklassen.html')" href="javascript:void(0);">Diff</a></td></tr>
</table>