<table class="grid">

<tr><td><b>Version Number</b></td><td><b>Current Version vs. Outdated Version</b></td></tr>

<tr><td><a href="20230201-140131-ValueSet-elga-administrativegender.html">201907</a></td><td><a onclick="createDiff('ValueSet-elga-administrativegender.html', '20230201-140131-ValueSet-elga-administrativegender.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20231114-130639-ValueSet-elga-administrativegender.html">1.0.0+20230131</a></td><td><a onclick="createDiff('ValueSet-elga-administrativegender.html', '20231114-130639-ValueSet-elga-administrativegender.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20240325-134555-ValueSet-elga-administrativegender.html">2.0.0+20231113</a></td><td><a onclick="createDiff('ValueSet-elga-administrativegender.html', '20240325-134555-ValueSet-elga-administrativegender.html')" href="javascript:void(0);">Diff</a></td></tr>
</table>