<table class="grid">

<tr><td><b>Version Number</b></td><td><b>Current Version vs. Outdated Version</b></td></tr>

<tr><td><a href="20230201-140131-ValueSet-elga-entlassungsmanagementa.html">2.8</a></td><td><a onclick="createDiff('ValueSet-elga-entlassungsmanagementa.html', '20230201-140131-ValueSet-elga-entlassungsmanagementa.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20240130-160446-ValueSet-elga-entlassungsmanagementa.html">1.0.0+20230131</a></td><td><a onclick="createDiff('ValueSet-elga-entlassungsmanagementa.html', '20240130-160446-ValueSet-elga-entlassungsmanagementa.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20240325-134555-ValueSet-elga-entlassungsmanagementa.html">1.0.1+20240129</a></td><td><a onclick="createDiff('ValueSet-elga-entlassungsmanagementa.html', '20240325-134555-ValueSet-elga-entlassungsmanagementa.html')" href="javascript:void(0);">Diff</a></td></tr>
</table>