<table class="grid">

<tr><td><b>Version Number</b></td><td><b>Current Version vs. Outdated Version</b></td></tr>

<tr><td><a href="20230201-140131-ValueSet-eimpf-antikoerperbestimmung.html">202111</a></td><td><a onclick="createDiff('ValueSet-eimpf-antikoerperbestimmung.html', '20230201-140131-ValueSet-eimpf-antikoerperbestimmung.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20230802-090239-ValueSet-eimpf-antikoerperbestimmung.html">1.0.0+20230131</a></td><td><a onclick="createDiff('ValueSet-eimpf-antikoerperbestimmung.html', '20230802-090239-ValueSet-eimpf-antikoerperbestimmung.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20240325-134555-ValueSet-eimpf-antikoerperbestimmung.html">1.1.0+20230731</a></td><td><a onclick="createDiff('ValueSet-eimpf-antikoerperbestimmung.html', '20240325-134555-ValueSet-eimpf-antikoerperbestimmung.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20240412-075510-ValueSet-eimpf-antikoerperbestimmung.html">1.2.0+20240325</a></td><td><a onclick="createDiff('ValueSet-eimpf-antikoerperbestimmung.html', '20240412-075510-ValueSet-eimpf-antikoerperbestimmung.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20240417-103349-ValueSet-eimpf-antikoerperbestimmung.html">1.3.0+20240404</a></td><td><a onclick="createDiff('ValueSet-eimpf-antikoerperbestimmung.html', '20240417-103349-ValueSet-eimpf-antikoerperbestimmung.html')" href="javascript:void(0);">Diff</a></td></tr>
</table>