<table class="grid">

<tr><td><b>Version Number</b></td><td><b>Current Version vs. Outdated Version</b></td></tr>

<tr><td><a href="20220202-200841-ValueSet-elga-mikroorganismen.html">202108.1</a></td><td><a onclick="createDiff('ValueSet-elga-mikroorganismen.html', '20220202-200841-ValueSet-elga-mikroorganismen.html')" href="javascript:void(0);">Diff</a></td></tr>

<tr><td><a href="20230201-140131-ValueSet-elga-mikroorganismen.html">202202</a></td><td><a onclick="createDiff('ValueSet-elga-mikroorganismen.html', '20230201-140131-ValueSet-elga-mikroorganismen.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20230803-135907-ValueSet-elga-mikroorganismen.html">1.0.0+20230131</a></td><td><a onclick="createDiff('ValueSet-elga-mikroorganismen.html', '20230803-135907-ValueSet-elga-mikroorganismen.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20231016-111854-ValueSet-elga-mikroorganismen.html">1.1.0+20230803</a></td><td><a onclick="createDiff('ValueSet-elga-mikroorganismen.html', '20231016-111854-ValueSet-elga-mikroorganismen.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20231206-124607-ValueSet-elga-mikroorganismen.html">1.2.0+20231016</a></td><td><a onclick="createDiff('ValueSet-elga-mikroorganismen.html', '20231206-124607-ValueSet-elga-mikroorganismen.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20240325-134555-ValueSet-elga-mikroorganismen.html">1.3.0+20231204</a></td><td><a onclick="createDiff('ValueSet-elga-mikroorganismen.html', '20240325-134555-ValueSet-elga-mikroorganismen.html')" href="javascript:void(0);">Diff</a></td></tr>
</table>