<table class="grid">
<tr><td><b>Version Number</b></td><td><b>Current Version vs. Outdated Version</b></td></tr>
<tr><td><a href="20240429-152854-ValueSet-eimpf-kostenfreiesimpfprogramm.html">1.0.0+20240402</a></td><td><a onclick="createDiff('ValueSet-eimpf-kostenfreiesimpfprogramm.html', '20240429-152854-ValueSet-eimpf-kostenfreiesimpfprogramm.html')" href="javascript:void(0);">Diff</a></td></tr>
</table>