<table class="grid">

<tr><td><b>Version Number</b></td><td><b>Current Version vs. Outdated Version</b></td></tr>

<tr><td><a href="20221207-084429-ValueSet-dicom-sopclasses.html">3.0</a></td><td><a onclick="createDiff('ValueSet-dicom-sopclasses.html', '20221207-084429-ValueSet-dicom-sopclasses.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20230201-140131-ValueSet-dicom-sopclasses.html">1.0.0+20221202</a></td><td><a onclick="createDiff('ValueSet-dicom-sopclasses.html', '20230201-140131-ValueSet-dicom-sopclasses.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20240325-134555-ValueSet-dicom-sopclasses.html">2.0.0+20230131</a></td><td><a onclick="createDiff('ValueSet-dicom-sopclasses.html', '20240325-134555-ValueSet-dicom-sopclasses.html')" href="javascript:void(0);">Diff</a></td></tr>
</table>