<table class="grid">

<tr><td><b>Version Number</b></td><td><b>Current Version vs. Outdated Version</b></td></tr>

<tr><td><a href="20230201-140131-ValueSet-eimpf-immunizationtarget.html">202106</a></td><td><a onclick="createDiff('ValueSet-eimpf-immunizationtarget.html', '20230201-140131-ValueSet-eimpf-immunizationtarget.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20230308-081721-ValueSet-eimpf-immunizationtarget.html">1.0.0+20230131</a></td><td><a onclick="createDiff('ValueSet-eimpf-immunizationtarget.html', '20230308-081721-ValueSet-eimpf-immunizationtarget.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20230414-055936-ValueSet-eimpf-immunizationtarget.html">1.1.0+20230308</a></td><td><a onclick="createDiff('ValueSet-eimpf-immunizationtarget.html', '20230414-055936-ValueSet-eimpf-immunizationtarget.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20230803-135907-ValueSet-eimpf-immunizationtarget.html">1.2.0+20230414</a></td><td><a onclick="createDiff('ValueSet-eimpf-immunizationtarget.html', '20230803-135907-ValueSet-eimpf-immunizationtarget.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20230829-101848-ValueSet-eimpf-immunizationtarget.html">1.3.0+20230803</a></td><td><a onclick="createDiff('ValueSet-eimpf-immunizationtarget.html', '20230829-101848-ValueSet-eimpf-immunizationtarget.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20240315-133105-ValueSet-eimpf-immunizationtarget.html">1.4.0+20230829</a></td><td><a onclick="createDiff('ValueSet-eimpf-immunizationtarget.html', '20240315-133105-ValueSet-eimpf-immunizationtarget.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20240325-134555-ValueSet-eimpf-immunizationtarget.html">1.5.0+20240314</a></td><td><a onclick="createDiff('ValueSet-eimpf-immunizationtarget.html', '20240325-134555-ValueSet-eimpf-immunizationtarget.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20240412-075510-ValueSet-eimpf-immunizationtarget.html">1.6.0+20240325</a></td><td><a onclick="createDiff('ValueSet-eimpf-immunizationtarget.html', '20240412-075510-ValueSet-eimpf-immunizationtarget.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20240417-103349-ValueSet-eimpf-immunizationtarget.html">1.7.0+20240404</a></td><td><a onclick="createDiff('ValueSet-eimpf-immunizationtarget.html', '20240417-103349-ValueSet-eimpf-immunizationtarget.html')" href="javascript:void(0);">Diff</a></td></tr>
</table>