<table class="grid">

<tr><td><b>Version Number</b></td><td><b>Current Version vs. Outdated Version</b></td></tr>

<tr><td><a href="20220301-165055-ValueSet-elga-dokumentenklassen.html">202110.1</a></td><td><a onclick="createDiff('ValueSet-elga-dokumentenklassen.html', '20220301-165055-ValueSet-elga-dokumentenklassen.html')" href="javascript:void(0);">Diff</a></td></tr>

<tr><td><a href="20221216-082813-ValueSet-elga-dokumentenklassen.html">202203</a></td><td><a onclick="createDiff('ValueSet-elga-dokumentenklassen.html', '20221216-082813-ValueSet-elga-dokumentenklassen.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20230201-140131-ValueSet-elga-dokumentenklassen.html">1.0.0+20221216</a></td><td><a onclick="createDiff('ValueSet-elga-dokumentenklassen.html', '20230201-140131-ValueSet-elga-dokumentenklassen.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20230301-075050-ValueSet-elga-dokumentenklassen.html">2.0.0+20230131</a></td><td><a onclick="createDiff('ValueSet-elga-dokumentenklassen.html', '20230301-075050-ValueSet-elga-dokumentenklassen.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20240325-134555-ValueSet-elga-dokumentenklassen.html">2.1.0+20230228</a></td><td><a onclick="createDiff('ValueSet-elga-dokumentenklassen.html', '20240325-134555-ValueSet-elga-dokumentenklassen.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20240408-104913-ValueSet-elga-dokumentenklassen.html">2.2.0+20240325</a></td><td><a onclick="createDiff('ValueSet-elga-dokumentenklassen.html', '20240408-104913-ValueSet-elga-dokumentenklassen.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20240410-135420-ValueSet-elga-dokumentenklassen.html">2.3.0+20240408</a></td><td><a onclick="createDiff('ValueSet-elga-dokumentenklassen.html', '20240410-135420-ValueSet-elga-dokumentenklassen.html')" href="javascript:void(0);">Diff</a></td></tr>
</table>