<table class="grid">

<tr><td><b>Version Number</b></td><td><b>Current Version vs. Outdated Version</b></td></tr>

<tr><td><a href="20230201-140131-ValueSet-ems-taetigkeitsbereich.html">202010</a></td><td><a onclick="createDiff('ValueSet-ems-taetigkeitsbereich.html', '20230201-140131-ValueSet-ems-taetigkeitsbereich.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20240325-134555-ValueSet-ems-taetigkeitsbereich.html">1.0.0+20230131</a></td><td><a onclick="createDiff('ValueSet-ems-taetigkeitsbereich.html', '20240325-134555-ValueSet-ems-taetigkeitsbereich.html')" href="javascript:void(0);">Diff</a></td></tr>
</table>