<table class="grid">

<tr><td><b>Version Number</b></td><td><b>Current Version vs. Outdated Version</b></td></tr>

<tr><td><a href="20220818-135550-ValueSet-elga-urlscheme.html">2.6</a></td><td><a onclick="createDiff('ValueSet-elga-urlscheme.html', '20220818-135550-ValueSet-elga-urlscheme.html')" href="javascript:void(0);">Diff</a></td></tr>

<tr><td><a href="20230201-140131-ValueSet-elga-urlscheme.html">202208</a></td><td><a onclick="createDiff('ValueSet-elga-urlscheme.html', '20230201-140131-ValueSet-elga-urlscheme.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20231219-135856-ValueSet-elga-urlscheme.html">1.0.0+20230131</a></td><td><a onclick="createDiff('ValueSet-elga-urlscheme.html', '20231219-135856-ValueSet-elga-urlscheme.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20240130-160446-ValueSet-elga-urlscheme.html">1.1.0+20230630</a></td><td><a onclick="createDiff('ValueSet-elga-urlscheme.html', '20240130-160446-ValueSet-elga-urlscheme.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20240325-134555-ValueSet-elga-urlscheme.html">1.1.1+20240129</a></td><td><a onclick="createDiff('ValueSet-elga-urlscheme.html', '20240325-134555-ValueSet-elga-urlscheme.html')" href="javascript:void(0);">Diff</a></td></tr>
</table>