<table class="grid">

<tr><td><b>Version Number</b></td><td><b>Current Version vs. Outdated Version</b></td></tr>

<tr><td><a href="20230201-140131-ValueSet-dgc-doses.html">202106</a></td><td><a onclick="createDiff('ValueSet-dgc-doses.html', '20230201-140131-ValueSet-dgc-doses.html')" href="javascript:void(0);">Diff</a></td></tr>
</table>