<table class="grid">

<tr><td><b>Version Number</b></td><td><b>Current Version vs. Outdated Version</b></td></tr>

<tr><td><a href="20220202-122156-ValueSet-dgc-ratnamemanufacturer.html">202112.1</a></td><td><a onclick="createDiff('ValueSet-dgc-ratnamemanufacturer.html', '20220202-122156-ValueSet-dgc-ratnamemanufacturer.html')" href="javascript:void(0);">Diff</a></td></tr>

<tr><td><a href="20220202-142407-ValueSet-dgc-ratnamemanufacturer.html">202201</a></td><td><a onclick="createDiff('ValueSet-dgc-ratnamemanufacturer.html', '20220202-142407-ValueSet-dgc-ratnamemanufacturer.html')" href="javascript:void(0);">Diff</a></td></tr>

<tr><td><a href="20220203-120822-ValueSet-dgc-ratnamemanufacturer.html">202201.1</a></td><td><a onclick="createDiff('ValueSet-dgc-ratnamemanufacturer.html', '20220203-120822-ValueSet-dgc-ratnamemanufacturer.html')" href="javascript:void(0);">Diff</a></td></tr>

<tr><td><a href="20220214-075155-ValueSet-dgc-ratnamemanufacturer.html">202202</a></td><td><a onclick="createDiff('ValueSet-dgc-ratnamemanufacturer.html', '20220214-075155-ValueSet-dgc-ratnamemanufacturer.html')" href="javascript:void(0);">Diff</a></td></tr>

<tr><td><a href="20220216-150122-ValueSet-dgc-ratnamemanufacturer.html">202202.1</a></td><td><a onclick="createDiff('ValueSet-dgc-ratnamemanufacturer.html', '20220216-150122-ValueSet-dgc-ratnamemanufacturer.html')" href="javascript:void(0);">Diff</a></td></tr>

<tr><td><a href="20220307-144421-ValueSet-dgc-ratnamemanufacturer.html">202202.2</a></td><td><a onclick="createDiff('ValueSet-dgc-ratnamemanufacturer.html', '20220307-144421-ValueSet-dgc-ratnamemanufacturer.html')" href="javascript:void(0);">Diff</a></td></tr>

<tr><td><a href="20220411-134554-ValueSet-dgc-ratnamemanufacturer.html">202203</a></td><td><a onclick="createDiff('ValueSet-dgc-ratnamemanufacturer.html', '20220411-134554-ValueSet-dgc-ratnamemanufacturer.html')" href="javascript:void(0);">Diff</a></td></tr>

<tr><td><a href="20220506-082353-ValueSet-dgc-ratnamemanufacturer.html">202204</a></td><td><a onclick="createDiff('ValueSet-dgc-ratnamemanufacturer.html', '20220506-082353-ValueSet-dgc-ratnamemanufacturer.html')" href="javascript:void(0);">Diff</a></td></tr>

<tr><td><a href="20220614-060749-ValueSet-dgc-ratnamemanufacturer.html">202205</a></td><td><a onclick="createDiff('ValueSet-dgc-ratnamemanufacturer.html', '20220614-060749-ValueSet-dgc-ratnamemanufacturer.html')" href="javascript:void(0);">Diff</a></td></tr>

<tr><td><a href="20220711-051108-ValueSet-dgc-ratnamemanufacturer.html">202206</a></td><td><a onclick="createDiff('ValueSet-dgc-ratnamemanufacturer.html', '20220711-051108-ValueSet-dgc-ratnamemanufacturer.html')" href="javascript:void(0);">Diff</a></td></tr>

<tr><td><a href="20220718-151606-ValueSet-dgc-ratnamemanufacturer.html">202207</a></td><td><a onclick="createDiff('ValueSet-dgc-ratnamemanufacturer.html', '20220718-151606-ValueSet-dgc-ratnamemanufacturer.html')" href="javascript:void(0);">Diff</a></td></tr>

<tr><td><a href="20221019-060020-ValueSet-dgc-ratnamemanufacturer.html">202207.1</a></td><td><a onclick="createDiff('ValueSet-dgc-ratnamemanufacturer.html', '20221019-060020-ValueSet-dgc-ratnamemanufacturer.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20221117-080309-ValueSet-dgc-ratnamemanufacturer.html">1.1.0+20221025</a></td><td><a onclick="createDiff('ValueSet-dgc-ratnamemanufacturer.html', '20221117-080309-ValueSet-dgc-ratnamemanufacturer.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20221207-084429-ValueSet-dgc-ratnamemanufacturer.html">1.2.0+20221116</a></td><td><a onclick="createDiff('ValueSet-dgc-ratnamemanufacturer.html', '20221207-084429-ValueSet-dgc-ratnamemanufacturer.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20221215-131058-ValueSet-dgc-ratnamemanufacturer.html">1.2.1+20221202</a></td><td><a onclick="createDiff('ValueSet-dgc-ratnamemanufacturer.html', '20221215-131058-ValueSet-dgc-ratnamemanufacturer.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20230201-140131-ValueSet-dgc-ratnamemanufacturer.html">1.3.0+20221214</a></td><td><a onclick="createDiff('ValueSet-dgc-ratnamemanufacturer.html', '20230201-140131-ValueSet-dgc-ratnamemanufacturer.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20230203-090400-ValueSet-dgc-ratnamemanufacturer.html">2.0.0+20230131</a></td><td><a onclick="createDiff('ValueSet-dgc-ratnamemanufacturer.html', '20230203-090400-ValueSet-dgc-ratnamemanufacturer.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20230316-130558-ValueSet-dgc-ratnamemanufacturer.html">2.1.0+20230202</a></td><td><a onclick="createDiff('ValueSet-dgc-ratnamemanufacturer.html', '20230316-130558-ValueSet-dgc-ratnamemanufacturer.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20230509-132152-ValueSet-dgc-ratnamemanufacturer.html">2.2.0+20230316</a></td><td><a onclick="createDiff('ValueSet-dgc-ratnamemanufacturer.html', '20230509-132152-ValueSet-dgc-ratnamemanufacturer.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20230524-162929-ValueSet-dgc-ratnamemanufacturer.html">2.3.0+20230509</a></td><td><a onclick="createDiff('ValueSet-dgc-ratnamemanufacturer.html', '20230524-162929-ValueSet-dgc-ratnamemanufacturer.html')" href="javascript:void(0);">Diff</a></td></tr>
</table>