<table class="grid">
<tr><td><b>Version Number</b></td><td><b>Current Version vs. Outdated Version</b></td></tr>
<tr><td><a href="20240325-134555-ValueSet-orphanet-rare-diseases.html">1.0.0+20231108</a></td><td><a onclick="createDiff('ValueSet-orphanet-rare-diseases.html', '20240325-134555-ValueSet-orphanet-rare-diseases.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20240502-125101-ValueSet-orphanet-rare-diseases.html">1.1.0+20240325</a></td><td><a onclick="createDiff('ValueSet-orphanet-rare-diseases.html', '20240502-125101-ValueSet-orphanet-rare-diseases.html')" href="javascript:void(0);">Diff</a></td></tr>
</table>