<table class="grid">

<tr><td><b>Version Number</b></td><td><b>Current Version vs. Outdated Version</b></td></tr>

<tr><td><a href="20230201-140131-ValueSet-dgc-vaccine.html">202104</a></td><td><a onclick="createDiff('ValueSet-dgc-vaccine.html', '20230201-140131-ValueSet-dgc-vaccine.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20230203-090400-ValueSet-dgc-vaccine.html">1.0.0+20230131</a></td><td><a onclick="createDiff('ValueSet-dgc-vaccine.html', '20230203-090400-ValueSet-dgc-vaccine.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20230418-135322-ValueSet-dgc-vaccine.html">1.1.0+20230202</a></td><td><a onclick="createDiff('ValueSet-dgc-vaccine.html', '20230418-135322-ValueSet-dgc-vaccine.html')" href="javascript:void(0);">Diff</a></td></tr>
</table>