<table class="grid">

<tr><td><b>Version Number</b></td><td><b>Current Version vs. Outdated Version</b></td></tr>

<tr><td><a href="20230201-140131-ValueSet-elga-sectionsentlassungaerztl.html">2.8</a></td><td><a onclick="createDiff('ValueSet-elga-sectionsentlassungaerztl.html', '20230201-140131-ValueSet-elga-sectionsentlassungaerztl.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20230922-083315-ValueSet-elga-sectionsentlassungaerztl.html">1.0.0+20230131</a></td><td><a onclick="createDiff('ValueSet-elga-sectionsentlassungaerztl.html', '20230922-083315-ValueSet-elga-sectionsentlassungaerztl.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20240325-134555-ValueSet-elga-sectionsentlassungaerztl.html">1.1.0+20230921</a></td><td><a onclick="createDiff('ValueSet-elga-sectionsentlassungaerztl.html', '20240325-134555-ValueSet-elga-sectionsentlassungaerztl.html')" href="javascript:void(0);">Diff</a></td></tr>
</table>