<table class="grid">
<tr><td><b>Version Number</b></td><td><b>Current Version vs. Outdated Version</b></td></tr>
<tr><td><a href="20231017-141526-ValueSet-atcdabbr-lateralityqualifiercode.html">1.0.0+20200512</a></td><td><a onclick="createDiff('ValueSet-atcdabbr-lateralityqualifiercode.html', '20231017-141526-ValueSet-atcdabbr-lateralityqualifiercode.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20240325-134555-ValueSet-atcdabbr-lateralityqualifiercode.html">2.0.0+20231017</a></td><td><a onclick="createDiff('ValueSet-atcdabbr-lateralityqualifiercode.html', '20240325-134555-ValueSet-atcdabbr-lateralityqualifiercode.html')" href="javascript:void(0);">Diff</a></td></tr>
</table>