<table class="grid">

<tr><td><b>Version Number</b></td><td><b>Current Version vs. Outdated Version</b></td></tr>

<tr><td><a href="20220202-122156-ValueSet-elga-formatcode.html">202103</a></td><td><a onclick="createDiff('ValueSet-elga-formatcode.html', '20220202-122156-ValueSet-elga-formatcode.html')" href="javascript:void(0);">Diff</a></td></tr>

<tr><td><a href="20220202-200841-ValueSet-elga-formatcode.html">202112</a></td><td><a onclick="createDiff('ValueSet-elga-formatcode.html', '20220202-200841-ValueSet-elga-formatcode.html')" href="javascript:void(0);">Diff</a></td></tr>

<tr><td><a href="20220211-073707-ValueSet-elga-formatcode.html">202201</a></td><td><a onclick="createDiff('ValueSet-elga-formatcode.html', '20220211-073707-ValueSet-elga-formatcode.html')" href="javascript:void(0);">Diff</a></td></tr>

<tr><td><a href="20220516-123916-ValueSet-elga-formatcode.html">202202</a></td><td><a onclick="createDiff('ValueSet-elga-formatcode.html', '20220516-123916-ValueSet-elga-formatcode.html')" href="javascript:void(0);">Diff</a></td></tr>

<tr><td><a href="20230201-140131-ValueSet-elga-formatcode.html">202205</a></td><td><a onclick="createDiff('ValueSet-elga-formatcode.html', '20230201-140131-ValueSet-elga-formatcode.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20230822-072504-ValueSet-elga-formatcode.html">1.0.0+20230131</a></td><td><a onclick="createDiff('ValueSet-elga-formatcode.html', '20230822-072504-ValueSet-elga-formatcode.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20240130-160446-ValueSet-elga-formatcode.html">1.1.0+20230821</a></td><td><a onclick="createDiff('ValueSet-elga-formatcode.html', '20240130-160446-ValueSet-elga-formatcode.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20240325-134555-ValueSet-elga-formatcode.html">1.1.1+20240129</a></td><td><a onclick="createDiff('ValueSet-elga-formatcode.html', '20240325-134555-ValueSet-elga-formatcode.html')" href="javascript:void(0);">Diff</a></td></tr>
</table>