<table class="grid">

<tr><td><b>Version Number</b></td><td><b>Current Version vs. Outdated Version</b></td></tr>

<tr><td><a href="20230201-140131-ValueSet-elga-serviceeventslabor.html">202108</a></td><td><a onclick="createDiff('ValueSet-elga-serviceeventslabor.html', '20230201-140131-ValueSet-elga-serviceeventslabor.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20230904-140645-ValueSet-elga-serviceeventslabor.html">1.0.0+20230131</a></td><td><a onclick="createDiff('ValueSet-elga-serviceeventslabor.html', '20230904-140645-ValueSet-elga-serviceeventslabor.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20240130-160446-ValueSet-elga-serviceeventslabor.html">1.1.0+20230831</a></td><td><a onclick="createDiff('ValueSet-elga-serviceeventslabor.html', '20240130-160446-ValueSet-elga-serviceeventslabor.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20240325-134555-ValueSet-elga-serviceeventslabor.html">1.1.1+20240129</a></td><td><a onclick="createDiff('ValueSet-elga-serviceeventslabor.html', '20240325-134555-ValueSet-elga-serviceeventslabor.html')" href="javascript:void(0);">Diff</a></td></tr>
</table>