<table class="grid">

<tr><td><b>Version Number</b></td><td><b>Current Version vs. Outdated Version</b></td></tr>

<tr><td><a href="20220202-122156-ValueSet-eimpf-impfschema.html">202111</a></td><td><a onclick="createDiff('ValueSet-eimpf-impfschema.html', '20220202-122156-ValueSet-eimpf-impfschema.html')" href="javascript:void(0);">Diff</a></td></tr>

<tr><td><a href="20220202-142407-ValueSet-eimpf-impfschema.html">202201</a></td><td><a onclick="createDiff('ValueSet-eimpf-impfschema.html', '20220202-142407-ValueSet-eimpf-impfschema.html')" href="javascript:void(0);">Diff</a></td></tr>

<tr><td><a href="20220203-170002-ValueSet-eimpf-impfschema.html">202201.1</a></td><td><a onclick="createDiff('ValueSet-eimpf-impfschema.html', '20220203-170002-ValueSet-eimpf-impfschema.html')" href="javascript:void(0);">Diff</a></td></tr>

<tr><td><a href="20220216-150122-ValueSet-eimpf-impfschema.html">202202</a></td><td><a onclick="createDiff('ValueSet-eimpf-impfschema.html', '20220216-150122-ValueSet-eimpf-impfschema.html')" href="javascript:void(0);">Diff</a></td></tr>

<tr><td><a href="20220221-132304-ValueSet-eimpf-impfschema.html">202202.1</a></td><td><a onclick="createDiff('ValueSet-eimpf-impfschema.html', '20220221-132304-ValueSet-eimpf-impfschema.html')" href="javascript:void(0);">Diff</a></td></tr>

<tr><td><a href="20220301-165055-ValueSet-eimpf-impfschema.html">202202.2</a></td><td><a onclick="createDiff('ValueSet-eimpf-impfschema.html', '20220301-165055-ValueSet-eimpf-impfschema.html')" href="javascript:void(0);">Diff</a></td></tr>

<tr><td><a href="20220307-144421-ValueSet-eimpf-impfschema.html">202203</a></td><td><a onclick="createDiff('ValueSet-eimpf-impfschema.html', '20220307-144421-ValueSet-eimpf-impfschema.html')" href="javascript:void(0);">Diff</a></td></tr>

<tr><td><a href="20220315-163833-ValueSet-eimpf-impfschema.html">202203.1</a></td><td><a onclick="createDiff('ValueSet-eimpf-impfschema.html', '20220315-163833-ValueSet-eimpf-impfschema.html')" href="javascript:void(0);">Diff</a></td></tr>

<tr><td><a href="20220318-140037-ValueSet-eimpf-impfschema.html">202203.2</a></td><td><a onclick="createDiff('ValueSet-eimpf-impfschema.html', '20220318-140037-ValueSet-eimpf-impfschema.html')" href="javascript:void(0);">Diff</a></td></tr>

<tr><td><a href="20220318-152035-ValueSet-eimpf-impfschema.html">202203.3</a></td><td><a onclick="createDiff('ValueSet-eimpf-impfschema.html', '20220318-152035-ValueSet-eimpf-impfschema.html')" href="javascript:void(0);">Diff</a></td></tr>

<tr><td><a href="20220331-103221-ValueSet-eimpf-impfschema.html">202203.4</a></td><td><a onclick="createDiff('ValueSet-eimpf-impfschema.html', '20220331-103221-ValueSet-eimpf-impfschema.html')" href="javascript:void(0);">Diff</a></td></tr>

<tr><td><a href="20220421-164248-ValueSet-eimpf-impfschema.html">202203.5</a></td><td><a onclick="createDiff('ValueSet-eimpf-impfschema.html', '20220421-164248-ValueSet-eimpf-impfschema.html')" href="javascript:void(0);">Diff</a></td></tr>

<tr><td><a href="20220428-131525-ValueSet-eimpf-impfschema.html">202204</a></td><td><a onclick="createDiff('ValueSet-eimpf-impfschema.html', '20220428-131525-ValueSet-eimpf-impfschema.html')" href="javascript:void(0);">Diff</a></td></tr>

<tr><td><a href="20220516-123916-ValueSet-eimpf-impfschema.html">202204.1</a></td><td><a onclick="createDiff('ValueSet-eimpf-impfschema.html', '20220516-123916-ValueSet-eimpf-impfschema.html')" href="javascript:void(0);">Diff</a></td></tr>

<tr><td><a href="20220614-103125-ValueSet-eimpf-impfschema.html">202205</a></td><td><a onclick="createDiff('ValueSet-eimpf-impfschema.html', '20220614-103125-ValueSet-eimpf-impfschema.html')" href="javascript:void(0);">Diff</a></td></tr>

<tr><td><a href="20220726-072141-ValueSet-eimpf-impfschema.html">202206</a></td><td><a onclick="createDiff('ValueSet-eimpf-impfschema.html', '20220726-072141-ValueSet-eimpf-impfschema.html')" href="javascript:void(0);">Diff</a></td></tr>

<tr><td><a href="20220729-123914-ValueSet-eimpf-impfschema.html">202207</a></td><td><a onclick="createDiff('ValueSet-eimpf-impfschema.html', '20220729-123914-ValueSet-eimpf-impfschema.html')" href="javascript:void(0);">Diff</a></td></tr>

<tr><td><a href="20220914-070934-ValueSet-eimpf-impfschema.html">202208</a></td><td><a onclick="createDiff('ValueSet-eimpf-impfschema.html', '20220914-070934-ValueSet-eimpf-impfschema.html')" href="javascript:void(0);">Diff</a></td></tr>

<tr><td><a href="20220930-133107-ValueSet-eimpf-impfschema.html">202209</a></td><td><a onclick="createDiff('ValueSet-eimpf-impfschema.html', '20220930-133107-ValueSet-eimpf-impfschema.html')" href="javascript:void(0);">Diff</a></td></tr>

<tr><td><a href="20221005-074617-ValueSet-eimpf-impfschema.html">1.0.0+20221003</a></td><td><a onclick="createDiff('ValueSet-eimpf-impfschema.html', '20221005-074617-ValueSet-eimpf-impfschema.html')" href="javascript:void(0);">Diff</a></td></tr>

<tr><td><a href="20221117-080309-ValueSet-eimpf-impfschema.html">1.2.0+20221020</a></td><td><a onclick="createDiff('ValueSet-eimpf-impfschema.html', '20221117-080309-ValueSet-eimpf-impfschema.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20221122-125045-ValueSet-eimpf-impfschema.html">1.3.0+20221116</a></td><td><a onclick="createDiff('ValueSet-eimpf-impfschema.html', '20221122-125045-ValueSet-eimpf-impfschema.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20221215-144221-ValueSet-eimpf-impfschema.html">1.4.0+20221122</a></td><td><a onclick="createDiff('ValueSet-eimpf-impfschema.html', '20221215-144221-ValueSet-eimpf-impfschema.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20221222-091144-ValueSet-eimpf-impfschema.html">1.5.0+20221214</a></td><td><a onclick="createDiff('ValueSet-eimpf-impfschema.html', '20221222-091144-ValueSet-eimpf-impfschema.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20221229-105243-ValueSet-eimpf-impfschema.html">1.6.0+20221221</a></td><td><a onclick="createDiff('ValueSet-eimpf-impfschema.html', '20221229-105243-ValueSet-eimpf-impfschema.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20230119-144031-ValueSet-eimpf-impfschema.html">1.7.0+20221229</a></td><td><a onclick="createDiff('ValueSet-eimpf-impfschema.html', '20230119-144031-ValueSet-eimpf-impfschema.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20230201-140131-ValueSet-eimpf-impfschema.html">1.8.0+20230118</a></td><td><a onclick="createDiff('ValueSet-eimpf-impfschema.html', '20230201-140131-ValueSet-eimpf-impfschema.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20230216-062324-ValueSet-eimpf-impfschema.html">2.0.0+20230131</a></td><td><a onclick="createDiff('ValueSet-eimpf-impfschema.html', '20230216-062324-ValueSet-eimpf-impfschema.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20230303-091656-ValueSet-eimpf-impfschema.html">2.1.0+20230215</a></td><td><a onclick="createDiff('ValueSet-eimpf-impfschema.html', '20230303-091656-ValueSet-eimpf-impfschema.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20230308-081721-ValueSet-eimpf-impfschema.html">2.2.0+20230302</a></td><td><a onclick="createDiff('ValueSet-eimpf-impfschema.html', '20230308-081721-ValueSet-eimpf-impfschema.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20230331-063800-ValueSet-eimpf-impfschema.html">2.3.0+20230308</a></td><td><a onclick="createDiff('ValueSet-eimpf-impfschema.html', '20230331-063800-ValueSet-eimpf-impfschema.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20230414-111307-ValueSet-eimpf-impfschema.html">2.4.0+20230330</a></td><td><a onclick="createDiff('ValueSet-eimpf-impfschema.html', '20230414-111307-ValueSet-eimpf-impfschema.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20230621-132654-ValueSet-eimpf-impfschema.html">2.5.0+20230414</a></td><td><a onclick="createDiff('ValueSet-eimpf-impfschema.html', '20230621-132654-ValueSet-eimpf-impfschema.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20230802-090239-ValueSet-eimpf-impfschema.html">2.6.0+20230621</a></td><td><a onclick="createDiff('ValueSet-eimpf-impfschema.html', '20230802-090239-ValueSet-eimpf-impfschema.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20230830-134524-ValueSet-eimpf-impfschema.html">2.7.0+20230731</a></td><td><a onclick="createDiff('ValueSet-eimpf-impfschema.html', '20230830-134524-ValueSet-eimpf-impfschema.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20230929-091708-ValueSet-eimpf-impfschema.html">2.8.0+20230830</a></td><td><a onclick="createDiff('ValueSet-eimpf-impfschema.html', '20230929-091708-ValueSet-eimpf-impfschema.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20231004-094725-ValueSet-eimpf-impfschema.html">2.9.0+20230929</a></td><td><a onclick="createDiff('ValueSet-eimpf-impfschema.html', '20231004-094725-ValueSet-eimpf-impfschema.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20231012-121521-ValueSet-eimpf-impfschema.html">2.10.0+20231004</a></td><td><a onclick="createDiff('ValueSet-eimpf-impfschema.html', '20231012-121521-ValueSet-eimpf-impfschema.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20231215-093328-ValueSet-eimpf-impfschema.html">2.11.0+20231012</a></td><td><a onclick="createDiff('ValueSet-eimpf-impfschema.html', '20231215-093328-ValueSet-eimpf-impfschema.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20231220-133656-ValueSet-eimpf-impfschema.html">2.12.0+20231214</a></td><td><a onclick="createDiff('ValueSet-eimpf-impfschema.html', '20231220-133656-ValueSet-eimpf-impfschema.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20240325-134555-ValueSet-eimpf-impfschema.html">2.13.0+20231220</a></td><td><a onclick="createDiff('ValueSet-eimpf-impfschema.html', '20240325-134555-ValueSet-eimpf-impfschema.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20240412-075510-ValueSet-eimpf-impfschema.html">2.14.0+20240325</a></td><td><a onclick="createDiff('ValueSet-eimpf-impfschema.html', '20240412-075510-ValueSet-eimpf-impfschema.html')" href="javascript:void(0);">Diff</a></td></tr>
</table>