<table class="grid">
<tr><td><b>Version Number</b></td><td><b>Current Version vs. Outdated Version</b></td></tr>
<tr><td><a href="20231123-135655-ValueSet-elga-absentorunknownprocedures.html">1.0.0+20200727</a></td><td><a onclick="createDiff('ValueSet-elga-absentorunknownprocedures.html', '20231123-135655-ValueSet-elga-absentorunknownprocedures.html')" href="javascript:void(0);">Diff</a></td></tr>
</table>