<table class="grid">

<tr><td><b>Version Number</b></td><td><b>Current Version vs. Outdated Version</b></td></tr>

<tr><td><a href="20230201-140131-ValueSet-elga-medikationmengenart.html">201910.1</a></td><td><a onclick="createDiff('ValueSet-elga-medikationmengenart.html', '20230201-140131-ValueSet-elga-medikationmengenart.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20230509-103337-ValueSet-elga-medikationmengenart.html">1.0.0+20230131</a></td><td><a onclick="createDiff('ValueSet-elga-medikationmengenart.html', '20230509-103337-ValueSet-elga-medikationmengenart.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20230616-073308-ValueSet-elga-medikationmengenart.html">1.2.0+20230504</a></td><td><a onclick="createDiff('ValueSet-elga-medikationmengenart.html', '20230616-073308-ValueSet-elga-medikationmengenart.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20230626-071024-ValueSet-elga-medikationmengenart.html">1.3.0+20230616</a></td><td><a onclick="createDiff('ValueSet-elga-medikationmengenart.html', '20230626-071024-ValueSet-elga-medikationmengenart.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20240325-134555-ValueSet-elga-medikationmengenart.html">1.4.0+20230626</a></td><td><a onclick="createDiff('ValueSet-elga-medikationmengenart.html', '20240325-134555-ValueSet-elga-medikationmengenart.html')" href="javascript:void(0);">Diff</a></td></tr>
</table>